In [1]:
import pandas as pd
import numpy as np

In [2]:
caso_full = pd.read_csv('data_general/caso_full.csv')

In [3]:
caso_full.columns

Index(['city', 'city_ibge_code', 'date', 'epidemiological_week',
       'estimated_population', 'estimated_population_2019', 'is_last',
       'is_repeated', 'last_available_confirmed',
       'last_available_confirmed_per_100k_inhabitants', 'last_available_date',
       'last_available_death_rate', 'last_available_deaths', 'order_for_place',
       'place_type', 'state', 'new_confirmed', 'new_deaths'],
      dtype='object')

In [4]:
caso_full_sergipe = caso_full.query('state == "SE" and city.isnull()', engine='python')
caso_full_sergipe

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
2015500,NaN,28.0,2020-03-14,202011,2318822.0,2298696.0,False,False,1,0.04313,2020-03-14,0.0000,0,1,state,SE,1,0
2015502,NaN,28.0,2020-03-15,202012,2318822.0,2298696.0,False,True,1,0.04313,2020-03-14,0.0000,0,2,state,SE,0,0
2015504,NaN,28.0,2020-03-16,202012,2318822.0,2298696.0,False,False,5,0.21563,2020-03-16,0.0000,0,3,state,SE,4,0
2015506,NaN,28.0,2020-03-17,202012,2318822.0,2298696.0,False,True,5,0.21563,2020-03-16,0.0000,0,4,state,SE,0,0
2015509,NaN,28.0,2020-03-18,202012,2318822.0,2298696.0,False,False,6,0.25875,2020-03-18,0.0000,0,5,state,SE,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2048281,NaN,28.0,2021-07-05,202127,2318822.0,2298696.0,False,False,266273,11483.11513,2021-07-05,0.0217,5765,479,state,SE,348,9
2048357,NaN,28.0,2021-07-06,202127,2318822.0,2298696.0,False,False,266590,11496.78587,2021-07-06,0.0217,5773,480,state,SE,317,8
2048433,NaN,28.0,2021-07-07,202127,2318822.0,2298696.0,False,False,267107,11519.08167,2021-07-07,0.0216,5779,481,state,SE,517,6
2048509,NaN,28.0,2021-07-08,202127,2318822.0,2298696.0,False,False,267596,11540.16997,2021-07-08,0.0216,5786,482,state,SE,489,7
2048585,NaN,28.0,2021-07-09,202127,2318822.0,2298696.0,True,False,268229,11567.46831,2021-07-09,0.0216,5794,483,state,SE,633,8

In [5]:
caso_full_selected = caso_full_sergipe[['date','last_available_confirmed','last_available_deaths','new_confirmed','new_deaths']]
caso_full_selected

,date,last_available_confirmed,last_available_deaths,new_confirmed,new_deaths
2015500,2020-03-14,1,0,1,0
2015502,2020-03-15,1,0,0,0
2015504,2020-03-16,5,0,4,0
2015506,2020-03-17,5,0,0,0
2015509,2020-03-18,6,0,1,0
...,...,...,...,...,...
2048281,2021-07-05,266273,5765,348,9
2048357,2021-07-06,266590,5773,317,8
2048433,2021-07-07,267107,5779,517,6
2048509,2021-07-08,267596,5786,489,7
2048585,2021-07-09,268229,5794,633,8

In [6]:
caso_full_selected['mean_confirmed'] = caso_full_selected['new_confirmed'].rolling(window=7).mean()
caso_full_selected['mean_deaths'] = caso_full_selected['new_deaths'].rolling(window=7).mean()

<ipython-input-6-de32b8ad372d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  caso_full_selected['mean_confirmed'] = caso_full_selected['new_confirmed'].rolling(window=7).mean()
<ipython-input-6-de32b8ad372d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  caso_full_selected['mean_deaths'] = caso_full_selected['new_deaths'].rolling(window=7).mean()

In [7]:
caso_full.replace([np.inf, -np.inf], np.nan, inplace=True)
caso_full_selected = caso_full_selected.fillna(0)
caso_full_selected

,date,last_available_confirmed,last_available_deaths,new_confirmed,new_deaths,mean_confirmed,mean_deaths
2015500,2020-03-14,1,0,1,0,0.000000,0.000000
2015502,2020-03-15,1,0,0,0,0.000000,0.000000
2015504,2020-03-16,5,0,4,0,0.000000,0.000000
2015506,2020-03-17,5,0,0,0,0.000000,0.000000
2015509,2020-03-18,6,0,1,0,0.000000,0.000000
...,...,...,...,...,...,...,...
2048281,2021-07-05,266273,5765,348,9,501.285714,14.428571
2048357,2021-07-06,266590,5773,317,8,496.571429,13.142857
2048433,2021-07-07,267107,5779,517,6,513.571429,11.571429
2048509,2021-07-08,267596,5786,489,7,483.285714,10.285714
2048585,2021-07-09,268229,5794,633,8,490.142857,8.857143

In [8]:
caso_full_selected['pct_change_confirmed'] = caso_full_selected['mean_confirmed'].pct_change(14)
caso_full_selected['pct_change_deaths'] = caso_full_selected['mean_deaths'].pct_change(14)
caso_full.replace([np.inf, -np.inf], np.nan, inplace=True)
caso_full_selected = caso_full_selected.fillna(0)
caso_full_selected

,date,last_available_confirmed,last_available_deaths,new_confirmed,new_deaths,mean_confirmed,mean_deaths,pct_change_confirmed,pct_change_deaths
2015500,2020-03-14,1,0,1,0,0.000000,0.000000,0.000000,0.000000
2015502,2020-03-15,1,0,0,0,0.000000,0.000000,0.000000,0.000000
2015504,2020-03-16,5,0,4,0,0.000000,0.000000,0.000000,0.000000
2015506,2020-03-17,5,0,0,0,0.000000,0.000000,0.000000,0.000000
2015509,2020-03-18,6,0,1,0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
2048281,2021-07-05,266273,5765,348,9,501.285714,14.428571,-0.381347,-0.356688
2048357,2021-07-06,266590,5773,317,8,496.571429,13.142857,-0.386841,-0.402597
2048433,2021-07-07,267107,5779,517,6,513.571429,11.571429,-0.339519,-0.463576
2048509,2021-07-08,267596,5786,489,7,483.285714,10.285714,-0.377782,-0.482014
2048585,2021-07-09,268229,5794,633,8,490.142857,8.857143,-0.345853,-0.526718

In [9]:
caso_full_selected.reset_index(inplace=True,drop=True)
caso_full_selected

,date,last_available_confirmed,last_available_deaths,new_confirmed,new_deaths,mean_confirmed,mean_deaths,pct_change_confirmed,pct_change_deaths
0,2020-03-14,1,0,1,0,0.000000,0.000000,0.000000,0.000000
1,2020-03-15,1,0,0,0,0.000000,0.000000,0.000000,0.000000
2,2020-03-16,5,0,4,0,0.000000,0.000000,0.000000,0.000000
3,2020-03-17,5,0,0,0,0.000000,0.000000,0.000000,0.000000
4,2020-03-18,6,0,1,0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
478,2021-07-05,266273,5765,348,9,501.285714,14.428571,-0.381347,-0.356688
479,2021-07-06,266590,5773,317,8,496.571429,13.142857,-0.386841,-0.402597
480,2021-07-07,267107,5779,517,6,513.571429,11.571429,-0.339519,-0.463576
481,2021-07-08,267596,5786,489,7,483.285714,10.285714,-0.377782,-0.482014
482,2021-07-09,268229,5794,633,8,490.142857,8.857143,-0.345853,-0.526718

In [10]:
caso_full_selected.to_csv("output/sergipe_historico.csv", index=False)

In [11]:
caso_full_selected.columns

Index(['date', 'last_available_confirmed', 'last_available_deaths',
       'new_confirmed', 'new_deaths', 'mean_confirmed', 'mean_deaths',
       'pct_change_confirmed', 'pct_change_deaths'],
      dtype='object')