# Processamento de Dados da Vacinação Sergipe

In [1]:
import pandas as pd
import numpy as np

In [2]:
populacao_sergipe = 2318822

In [3]:
# Carrega os dados por município e grupo
data_total_municipio = pd.read_csv("output/relatorio_vacina_sergipe.csv")

# Carrega arquivo de histórico por data
data_historico_estado = pd.read_excel("data_general/historico_sergipe.xlsx")

In [4]:
data_total_municipio

,codigo_municipio,municipio,populacao_total,populacao_grupo4_80mais,populacao_grupo5_7079,populacao_grupo6_6069,enviadas_dose1,enviadas_dose2,enviadas_dose_unica,aplicadas_dose1,...,aplicadas_dose_unica_grupo30_gestantes,aplicadas_dose_unica_grupo31_puerperas,aplicadas_dose_unica_grupo32_3539,aplicadas_dose_unica_grupo33_3034,aplicadas_dose_unica_grupo34_lactante,aplicadas_dose_unica_grupo35_2529,aplicadas_dose_unica_grupo36_2024,aplicadas_dose_unica_grupo37_1819,aplicadas_dose_unica_grupo38_1517,aplicadas_dose_unica_grupo39_1214
0,280010,Amparo de São Francisco,2380,51,89,140,1669,1235,30,1558,...,0,0,11,3,0,1,0,0,0,0
1,280020,Aquidabã,21681,481,932,1543,15239,9036,210,12688,...,0,0,133,0,0,0,0,0,0,0
2,280030,Aracaju,664908,10149,24138,47854,481707,295612,12715,450314,...,0,0,2674,1513,0,749,1430,183,0,0
3,280040,Arauá,9947,149,348,644,6797,4289,100,6738,...,0,0,0,0,0,0,0,0,0,0
4,280050,Areia Branca,18686,281,548,1047,12664,7554,185,12284,...,0,0,47,2,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,280720,Siriri,8970,154,316,533,5754,3683,75,5145,...,0,0,17,0,0,0,0,0,0,0
71,280730,Telha,3249,49,100,178,2225,1417,45,2140,...,0,0,0,0,0,0,0,0,0,0
72,280740,Tobias Barreto,52530,1046,2188,3513,36144,19584,1160,35442,...,0,0,42,0,0,0,0,0,0,0
73,280750,Tomar do Geru,13535,208,446,760,9349,5339,135,7299,...,0,0,139,0,0,0,0,0,0,0
74,280760,Umbaúba,25550,308,725,1482,17073,9586,240,15422,...,0,0,117,41,0,0,0,0,0,0

In [5]:
data_historico_estado

,data,enviadas_dose1,aplicadas_dose1,enviadas_dose2,aplicadas_dose2,enviadas_dose_unica,aplicadas_dose_unica
0,2021-03-01,54898,45836,28258,24909,0,0
1,2021-03-02,78109,48907,35377,25744,0,0
2,2021-03-03,78109,54155,35377,26816,0,0
3,2021-03-04,78109,61270,35377,27275,0,0
4,2021-03-05,92630,67793,35377,28353,0,0
...,...,...,...,...,...,...,...
169,2021-09-11,1527766,1453771,914366,606539,39750,39952
170,2021-09-13,1527766,1462728,914366,634665,39750,39952
171,2021-09-14,1527766,1472377,914366,673946,39750,40023
172,2021-09-15,1602737,1480519,921386,700142,39750,40023
173,2021-09-16,1602737,1489443,921386,708689,39750,40023

## Geração do Arquivo de Total de Doses Enviadas e Aplicadas por Município

In [6]:
filter_historico = data_total_municipio[['codigo_municipio','municipio','populacao_total','enviadas_dose1','aplicadas_dose1','enviadas_dose2','aplicadas_dose2','enviadas_dose_unica','aplicadas_dose_unica']]

In [7]:
total_sergipe = data_historico_estado.tail(1)

In [8]:
new_line = ['000000','TODO ESTADO',2318822,int(total_sergipe['enviadas_dose1']),int(total_sergipe['aplicadas_dose1']),int(total_sergipe['enviadas_dose2']),int(total_sergipe['aplicadas_dose2']), int(total_sergipe['enviadas_dose_unica']), int(total_sergipe['aplicadas_dose_unica'])]
new_line

['000000',
 'TODO ESTADO',
 2318822,
 1602737,
 1489443,
 921386,
 708689,
 39750,
 40023]

In [9]:
data_total_final = filter_historico.append(pd.Series(new_line, index=filter_historico.columns), ignore_index=True)

In [10]:
data_total_final['cobertura_pop_dose1'] = data_total_final['aplicadas_dose1'] / data_total_final['populacao_total']
data_total_final['cobertura_pop_dose2'] = data_total_final['aplicadas_dose2'] / data_total_final['populacao_total']
data_total_final['cobertura_pop_dose2_dose_unica'] = (data_total_final['aplicadas_dose2'] + data_total_final['aplicadas_dose_unica']) / data_total_final['populacao_total']

In [11]:
data_total_final

,codigo_municipio,municipio,populacao_total,enviadas_dose1,aplicadas_dose1,enviadas_dose2,aplicadas_dose2,enviadas_dose_unica,aplicadas_dose_unica,cobertura_pop_dose1,cobertura_pop_dose2,cobertura_pop_dose2_dose_unica
0,280010,Amparo de São Francisco,2380,1669,1558,1235,1080,30,30,0.654622,0.453782,0.466387
1,280020,Aquidabã,21681,15239,12688,9036,6211,210,210,0.585213,0.286472,0.296158
2,280030,Aracaju,664908,481707,450314,295612,224508,12715,12589,0.677258,0.337653,0.356586
3,280040,Arauá,9947,6797,6738,4289,3275,100,102,0.677390,0.329245,0.339499
4,280050,Areia Branca,18686,12664,12284,7554,6202,185,198,0.657391,0.331906,0.342502
...,...,...,...,...,...,...,...,...,...,...,...,...
71,280730,Telha,3249,2225,2140,1417,1224,45,46,0.658664,0.376731,0.390890
72,280740,Tobias Barreto,52530,36144,35442,19584,17044,1160,1187,0.674700,0.324462,0.347059
73,280750,Tomar do Geru,13535,9349,7299,5339,3501,135,139,0.539269,0.258663,0.268932
74,280760,Umbaúba,25550,17073,15422,9586,6834,240,237,0.603601,0.267476,0.276751
75,000000,TODO ESTADO,2318822,1602737,1489443,921386,708689,39750,40023,0.642327,0.305625,0.322885

In [12]:
data_total_final.to_csv("output/data_vacinas_municipio.csv",index=False)

## Geração do Arquivo de Histórico da vacinação do Estado com Média Móvel

In [13]:
data_historico_estado[['data','aplicadas_dose1','aplicadas_dose2','aplicadas_dose_unica']].copy()

          data  aplicadas_dose1  aplicadas_dose2  aplicadas_dose_unica
0   2021-03-01            45836            24909                     0
1   2021-03-02            48907            25744                     0
2   2021-03-03            54155            26816                     0
3   2021-03-04            61270            27275                     0
4   2021-03-05            67793            28353                     0
..         ...              ...              ...                   ...
169 2021-09-11          1453771           606539                 39952
170 2021-09-13          1462728           634665                 39952
171 2021-09-14          1472377           673946                 40023
172 2021-09-15          1480519           700142                 40023
173 2021-09-16          1489443           708689                 40023

[174 rows x 4 columns]

In [14]:
# Calcula a média móvel e o total por dia
total_historico = data_historico_estado[['data','enviadas_dose1','enviadas_dose2','aplicadas_dose1','aplicadas_dose2','enviadas_dose_unica','aplicadas_dose_unica']].copy()
total_historico['diario_dose1'] = total_historico['aplicadas_dose1'].diff()
total_historico['diario_dose2'] = total_historico['aplicadas_dose2'].diff()
total_historico['diario_dose_unica'] = total_historico['aplicadas_dose_unica'].diff()
total_historico['mediamovel_dose1'] = total_historico['diario_dose1'].rolling(window=7).mean()
total_historico['mediamovel_dose2'] = total_historico['diario_dose2'].rolling(window=7).mean()
total_historico['mediamovel_dose_unica'] = total_historico['diario_dose_unica'].rolling(window=7).mean()
total_historico['mediadiaria_dose1'] = total_historico['diario_dose1'].expanding().mean()
total_historico['mediadiaria_dose2'] = total_historico['diario_dose2'].expanding().mean()
total_historico['mediadiaria_dose_unica'] = total_historico['diario_dose_unica'].expanding().mean()
total_historico['percent_uso_dose1'] = total_historico['aplicadas_dose1'] / total_historico['enviadas_dose1']
total_historico['percent_uso_dose2'] = total_historico['aplicadas_dose2'] / total_historico['enviadas_dose2']
total_historico['percent_uso_dose_unica'] = total_historico['aplicadas_dose_unica'] / total_historico['enviadas_dose_unica']
total_historico['percent_populacao_parcialmente'] = total_historico['aplicadas_dose1'] / populacao_sergipe
total_historico['percent_populacao_totalmente'] = (total_historico['aplicadas_dose2'] + total_historico['aplicadas_dose_unica']) / populacao_sergipe
total_historico = total_historico.fillna(0)
total_historico

,data,enviadas_dose1,enviadas_dose2,aplicadas_dose1,aplicadas_dose2,enviadas_dose_unica,aplicadas_dose_unica,diario_dose1,diario_dose2,diario_dose_unica,...,mediamovel_dose2,mediamovel_dose_unica,mediadiaria_dose1,mediadiaria_dose2,mediadiaria_dose_unica,percent_uso_dose1,percent_uso_dose2,percent_uso_dose_unica,percent_populacao_parcialmente,percent_populacao_totalmente
0,2021-03-01,54898,28258,45836,24909,0,0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.834930,0.881485,0.000000,0.019767,0.010742
1,2021-03-02,78109,35377,48907,25744,0,0,3071.0,835.0,0.0,...,0.000000,0.000000,3071.000000,835.000000,0.000000,0.626138,0.727704,0.000000,0.021091,0.011102
2,2021-03-03,78109,35377,54155,26816,0,0,5248.0,1072.0,0.0,...,0.000000,0.000000,4159.500000,953.500000,0.000000,0.693326,0.758007,0.000000,0.023355,0.011564
3,2021-03-04,78109,35377,61270,27275,0,0,7115.0,459.0,0.0,...,0.000000,0.000000,5144.666667,788.666667,0.000000,0.784417,0.770981,0.000000,0.026423,0.011762
4,2021-03-05,92630,35377,67793,28353,0,0,6523.0,1078.0,0.0,...,0.000000,0.000000,5489.250000,861.000000,0.000000,0.731869,0.801453,0.000000,0.029236,0.012227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2021-09-11,1527766,914366,1453771,606539,39750,39952,1957.0,3651.0,0.0,...,11479.142857,0.000000,8330.976331,3441.597633,236.402367,0.951567,0.663344,1.005082,0.626944,0.278801
170,2021-09-13,1527766,914366,1462728,634665,39750,39952,8957.0,28126.0,0.0,...,14127.571429,0.000000,8334.658824,3586.800000,235.011765,0.957429,0.694104,1.005082,0.630807,0.290931
171,2021-09-14,1527766,914366,1472377,673946,39750,40023,9649.0,39281.0,71.0,...,19287.285714,10.142857,8342.345029,3795.538012,234.052632,0.963745,0.737064,1.006868,0.634968,0.307902
172,2021-09-15,1602737,921386,1480519,700142,39750,40023,8142.0,26196.0,0.0,...,21040.714286,10.142857,8341.180233,3925.773256,232.691860,0.923744,0.759879,1.006868,0.638479,0.319199
173,2021-09-16,1602737,921386,1489443,708689,39750,40023,8924.0,8547.0,0.0,...,20405.000000,10.142857,8344.549133,3952.485549,231.346821,0.929312,0.769155,1.006868,0.642327,0.322885

In [15]:
total_historico.to_csv("output/data_vacinas_historico.csv", index=False)

## Geração do Arquivo de Total por Grupos de Vacinação

In [16]:
grupos = {
    1: 'Trabalhadores da Saúde',
    2: 'Pessoas com 60 anos ou mais e deficientes Institucionalizados',
    3: 'Índio Aldeado',
    4: 'Pessoas com 80 anos e mais',
    5: 'Pessoas de 70 a 79 anos', 
    6: 'Pessoas de 60 a 69 anos',
    7: 'Situação de Rua',
    8: 'Quilombolas',
    9: 'Trabalhadores das forças de segurança',
    10: 'Pessoas com Síndrome de Dowm e Autismo',
    11: 'Outros (População vacinada com resíduos de vacinas ao final do dia)',
    12: 'Puerperas com comorbidade',
    13: 'Gestante com comorbidade',
    14: 'Deficiente Permanente',
    15: 'Comorbidades',
    16: 'Trabalhadores da Educação',
    17: 'Trabalhadores do sistema prisional',
    18: 'Privados de liberdade',
    19: 'Trabalhadores do Transporte aéreo',
    20: 'Trabalhadores da Limpeza Urbana',
    21: 'Trabalhadores do Transporte Coletivo',
    22: 'Caminhoneiros',
    23: 'População de 55 a 59 anos',
    24: 'Trabalhadores da Educação Superior',
    25: 'Trabalhadores da Zona Portuária',
    26: 'Trabalhadores Industriais e Civil',
    27: 'População de 50 a 54 anos',
    28: 'População de 45 a 49 anos',
    29: 'População de 40 a 44 anos',
    30: 'Gestantes',
    31: 'Puerperas',
    32: 'População de 35 a 39 anos',
    33: 'População de 30 a 34 anos',
    34: 'Lactantes',
    35: 'População de 25 a 29 anos',
    36: 'População de 20 a 24 anos',
    37: 'População de 18 e 19 anos',
    38: 'População de 15 a 17 anos',
    39: 'População de 12 a 14 anos'
}

In [17]:
data_total_municipio

,codigo_municipio,municipio,populacao_total,populacao_grupo4_80mais,populacao_grupo5_7079,populacao_grupo6_6069,enviadas_dose1,enviadas_dose2,enviadas_dose_unica,aplicadas_dose1,...,aplicadas_dose_unica_grupo30_gestantes,aplicadas_dose_unica_grupo31_puerperas,aplicadas_dose_unica_grupo32_3539,aplicadas_dose_unica_grupo33_3034,aplicadas_dose_unica_grupo34_lactante,aplicadas_dose_unica_grupo35_2529,aplicadas_dose_unica_grupo36_2024,aplicadas_dose_unica_grupo37_1819,aplicadas_dose_unica_grupo38_1517,aplicadas_dose_unica_grupo39_1214
0,280010,Amparo de São Francisco,2380,51,89,140,1669,1235,30,1558,...,0,0,11,3,0,1,0,0,0,0
1,280020,Aquidabã,21681,481,932,1543,15239,9036,210,12688,...,0,0,133,0,0,0,0,0,0,0
2,280030,Aracaju,664908,10149,24138,47854,481707,295612,12715,450314,...,0,0,2674,1513,0,749,1430,183,0,0
3,280040,Arauá,9947,149,348,644,6797,4289,100,6738,...,0,0,0,0,0,0,0,0,0,0
4,280050,Areia Branca,18686,281,548,1047,12664,7554,185,12284,...,0,0,47,2,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,280720,Siriri,8970,154,316,533,5754,3683,75,5145,...,0,0,17,0,0,0,0,0,0,0
71,280730,Telha,3249,49,100,178,2225,1417,45,2140,...,0,0,0,0,0,0,0,0,0,0
72,280740,Tobias Barreto,52530,1046,2188,3513,36144,19584,1160,35442,...,0,0,42,0,0,0,0,0,0,0
73,280750,Tomar do Geru,13535,208,446,760,9349,5339,135,7299,...,0,0,139,0,0,0,0,0,0,0
74,280760,Umbaúba,25550,308,725,1482,17073,9586,240,15422,...,0,0,117,41,0,0,0,0,0,0

In [18]:
# Organizando as colunas como linhas da tabela
data_group = data_total_municipio.drop(columns=['populacao_total',
       'populacao_grupo4_80mais', 'populacao_grupo5_7079',
       'populacao_grupo6_6069', 'enviadas_dose1', 'enviadas_dose2', 'enviadas_dose_unica', 'aplicadas_dose_unica',
       'aplicadas_dose1', 'aplicadas_dose2'])
data_group = pd.melt(data_group, id_vars=['codigo_municipio','municipio'], value_name='total')
data_group

,codigo_municipio,municipio,variable,total
0,280010,Amparo de São Francisco,aplicadas_dose1_grupo1_saude,72
1,280020,Aquidabã,aplicadas_dose1_grupo1_saude,473
2,280030,Aracaju,aplicadas_dose1_grupo1_saude,40239
3,280040,Arauá,aplicadas_dose1_grupo1_saude,174
4,280050,Areia Branca,aplicadas_dose1_grupo1_saude,300
...,...,...,...,...
7870,280720,Siriri,aplicadas_dose_unica_grupo39_1214,0
7871,280730,Telha,aplicadas_dose_unica_grupo39_1214,0
7872,280740,Tobias Barreto,aplicadas_dose_unica_grupo39_1214,0
7873,280750,Tomar do Geru,aplicadas_dose_unica_grupo39_1214,0
7874,280760,Umbaúba,aplicadas_dose_unica_grupo39_1214,0

In [19]:
## Funções Auxiliares para mapear informações em novas colunas

import re
def function_map(row, index, convert=False):
    split_ = row['variable'].split("_")

    if len(split_) == 3:
        if index == 1:
            split_value = -1
        else:
            split_value = 99
    elif len(split_) == 4:
        split_value = split_[index]
        if convert:
            split_value = list(map(int, re.findall(r'\d+',  split_value)))[0]
            
    else:
        if index == 1:
            split_value = split_[1] + "_" + split_[2]
            split_value = -1
        elif index == 2:
            split_value = split_[3]
            if convert:
                split_value = list(map(int, re.findall(r'\d+',  split_value)))[0]
            
    
            
    return split_value

def grupos_map(row): 
    return grupos[row['grupo']]

In [20]:
# Criando novas colunas
data_group['dose'] = data_group.apply(lambda row: function_map(row, 1, True), axis=1)
data_group['grupo'] = data_group.apply(lambda row: function_map(row, 2, True), axis=1)
data_group['nome_grupo'] = data_group.apply(lambda row: grupos_map(row), axis=1)

In [21]:
data_group = data_group.drop(columns=['variable'])
data_group

,codigo_municipio,municipio,total,dose,grupo,nome_grupo
0,280010,Amparo de São Francisco,72,1,1,Trabalhadores da Saúde
1,280020,Aquidabã,473,1,1,Trabalhadores da Saúde
2,280030,Aracaju,40239,1,1,Trabalhadores da Saúde
3,280040,Arauá,174,1,1,Trabalhadores da Saúde
4,280050,Areia Branca,300,1,1,Trabalhadores da Saúde
...,...,...,...,...,...,...
7870,280720,Siriri,0,-1,39,População de 12 a 14 anos
7871,280730,Telha,0,-1,39,População de 12 a 14 anos
7872,280740,Tobias Barreto,0,-1,39,População de 12 a 14 anos
7873,280750,Tomar do Geru,0,-1,39,População de 12 a 14 anos
7874,280760,Umbaúba,0,-1,39,População de 12 a 14 anos

### Agrupando por Dose e Grupos

In [22]:
data_group_estado = data_group[['dose','grupo','nome_grupo','total']].groupby(by=['dose','grupo','nome_grupo']).sum()
data_group_estado.reset_index(inplace=True)
data_group_estado

     dose  grupo                                         nome_grupo  total
0      -1      1                             Trabalhadores da Saúde   1477
1      -1      2  Pessoas com 60 anos ou mais e deficientes Inst...     88
2      -1      3                                      Índio Aldeado      0
3      -1      4                         Pessoas com 80 anos e mais     45
4      -1      5                            Pessoas de 70 a 79 anos     79
..    ...    ...                                                ...    ...
100     2     35                          População de 25 a 29 anos  10251
101     2     36                          População de 20 a 24 anos   6255
102     2     37                          População de 18 e 19 anos   1252
103     2     38                          População de 15 a 17 anos     28
104     2     39                          População de 12 a 14 anos     29

[105 rows x 4 columns]

In [23]:
data_group_estado.to_csv("output/data_vacinas_grupos_estado.csv", index=False)

In [24]:
data_group_municipio = data_group.groupby(by=['codigo_municipio','municipio','dose','grupo','nome_grupo']).sum()
data_group_municipio.reset_index(inplace=True)
data_group_municipio

,codigo_municipio,municipio,dose,grupo,nome_grupo,total
0,280010,Amparo de São Francisco,-1,1,Trabalhadores da Saúde,5
1,280010,Amparo de São Francisco,-1,2,Pessoas com 60 anos ou mais e deficientes Inst...,0
2,280010,Amparo de São Francisco,-1,3,Índio Aldeado,0
3,280010,Amparo de São Francisco,-1,4,Pessoas com 80 anos e mais,0
4,280010,Amparo de São Francisco,-1,5,Pessoas de 70 a 79 anos,0
...,...,...,...,...,...,...
7870,280760,Umbaúba,2,35,População de 25 a 29 anos,233
7871,280760,Umbaúba,2,36,População de 20 a 24 anos,39
7872,280760,Umbaúba,2,37,População de 18 e 19 anos,0
7873,280760,Umbaúba,2,38,População de 15 a 17 anos,0
7874,280760,Umbaúba,2,39,População de 12 a 14 anos,0

In [25]:
data_group_municipio.to_csv("output/data_vacinas_grupos_municipios.csv", index=False)

In [26]:
data_group_pivot = data_group_estado.pivot_table(values='total', index=['grupo','nome_grupo'], columns='dose')
data_group_pivot.reset_index(inplace=True)
data_group_pivot.rename(columns={-1: 'dose_unica', 1: 'dose_1', 2: 'dose_2'}, inplace=True)
data_group_pivot

dose,grupo,nome_grupo,dose_unica,dose_1,dose_2
0,1,Trabalhadores da Saúde,1477,78823,83625
1,2,Pessoas com 60 anos ou mais e deficientes Inst...,88,759,720
2,3,Índio Aldeado,0,281,276
3,4,Pessoas com 80 anos e mais,45,40806,38631
4,5,Pessoas de 70 a 79 anos,79,81895,87170
5,6,Pessoas de 60 a 69 anos,277,143791,138542
6,7,Situação de Rua,271,340,148
7,8,Quilombolas,179,11624,10332
8,9,Trabalhadores das forças de segurança,75,8833,7049
9,14,Deficiente Permanente,97,9970,4885
10,15,Comorbidades,706,123165,66330
11,16,Trabalhadores da Educação,794,37082,25233
12,17,Trabalhadores do sistema prisional,1,846,268
13,18,Privados de liberdade,0,5460,2100
14,19,Trabalhadores do Transporte aéreo,1,453,148
15,20,Trabalhadores da Limpeza Urbana,70,4421,2636
16,21,Trabalhadores do Transporte Coletivo,56,4037,2196
17,22,Caminhoneiros,89,7127,3633
18,23,População de 55 a 59 anos,1086,64348,51308
19,24,Trabalhadores da Educação Superior,14,4092,2511
20,25,Trabalhadores da Zona Portuária,1,518,373
21,26,Trabalhadores Industriais e Civil,489,18474,7948
22,27,População de 50 a 54 anos,2473,80292,49497
23,28,População de 45 a 49 anos,5972,89929,38677
24,29,População de 40 a 44 anos,13915,99011,26055
25,30,Gestantes,0,11878,3666
26,31,Puerperas,2,2611,1170
27,32,População de 35 a 39 anos,7169,107476,16303
28,33,População de 30 a 34 anos,2209,116587,19015
29,34,Lactantes,0,1891,429
30,35,População de 25 a 29 anos,764,120372,10251
31,36,População de 20 a 24 anos,1437,126754,6255
32,37,População de 18 e 19 anos,187,52858,1252
33,38,População de 15 a 17 anos,0,23571,28
34,39,População de 12 a 14 anos,0,9068,29

In [27]:
data_group_pivot.to_csv("output/data_vacinas_grupos_estado2.csv", index=False)

## Vacinas Recebidas

In [28]:
def map_mounth(value):
    
    split_ = value.split("-")
    day = split_[0]
    mounth = split_[1]
    
    map_ = {
        'jan': '01',
        'fev': '02',
        'mar': '03',
        'abr': '04',
        'mai': '05',
        'jun': '06',
        'jul': '07',
        'ago': '08',
        'set': '09',
        'out': '10',
        'nov': '11',
        'dez': '12'
    }
    
    str_return = "2021-" + map_[mounth] + "-" + day
    
    return str_return

In [29]:
def map_vacinas(value):
    
    map_ = {
        'Coronavac': 'Butantan/CoronaVac',
        'AstraZeneca': 'Oxford/AstraZeneca/Fiocruz',
        'Astrazeneca': 'Oxford/AstraZeneca/Fiocruz',
        'Pfizer': 'Pfizer/BioNTech',
        'Janssen': 'Janssen',
        'Coronavac/monodose': 'Butantan/CoronaVac'
    }
    
    return map_[value]

In [30]:
vacinas_recebidas = pd.read_csv("data_insumos/vacinas_recebidas.csv", skiprows=2, names=['data','vacina','publico_alvo','total'], thousands='.')
vacinas_recebidas

,data,vacina,publico_alvo,total
0,15-set,Pfizer,Destinado para primeira dose,11700
1,13-set,Pfizer,Destinado para primeira dose,53820
2,09-set,Pfizer,Destinado para primeira dose,11700
3,09-set,Coronavac,Destinado para primeira e segunda dose,19400
4,08-set,Pfizer,Destinado para primeira e segunda dose,24570
...,...,...,...,...
91,24-fev.,AstraZeneca,"Trabalhadores saúde, idosos 80 a 89 anos",16500
92,07-fev.,Coronavac,"Trabalhadores saúde, idosos 90 anos mais",23800
93,25-jan.,Coronavac,Trabalhadores saúde,8800
94,24-jan.,AstraZeneca,Trabalhadores saúde,19000
95,18-jan.,Coronavac,"Trabalhadores saúde, idosos institucionalizado...",48880

In [31]:
vacinas_recebidas = pd.read_csv("data_insumos/vacinas_recebidas.csv", skiprows=2, names=['data','vacina','publico_alvo','total'], thousands='.')
vacinas_recebidas['data'] = vacinas_recebidas['data'].str.replace(".", "")
vacinas_recebidas['data'] = vacinas_recebidas['data'].apply(map_mounth)
vacinas_recebidas['data'] = pd.to_datetime(vacinas_recebidas['data'])
vacinas_recebidas['vacina'] = vacinas_recebidas['vacina'].apply(map_vacinas)
vacinas_recebidas.drop(columns=['publico_alvo'], inplace=True)
vacinas_recebidas

         data                      vacina  total
0  2021-09-15             Pfizer/BioNTech  11700
1  2021-09-13             Pfizer/BioNTech  53820
2  2021-09-09             Pfizer/BioNTech  11700
3  2021-09-09          Butantan/CoronaVac  19400
4  2021-09-08             Pfizer/BioNTech  24570
..        ...                         ...    ...
91 2021-02-24  Oxford/AstraZeneca/Fiocruz  16500
92 2021-02-07          Butantan/CoronaVac  23800
93 2021-01-25          Butantan/CoronaVac   8800
94 2021-01-24  Oxford/AstraZeneca/Fiocruz  19000
95 2021-01-18          Butantan/CoronaVac  48880

[96 rows x 3 columns]

In [32]:
#vacinas_recebidas['mes'] = pd.DatetimeIndex(vacinas_recebidas['data']).month_name(locale='pt_BR')
vacinas_recebidas['mes_int'] = pd.DatetimeIndex(vacinas_recebidas['data']).month
vacinas_recebidas.sort_values(by=['data'], inplace=True)
vacinas_recebidas

         data                      vacina  total  mes_int
95 2021-01-18          Butantan/CoronaVac  48880        1
94 2021-01-24  Oxford/AstraZeneca/Fiocruz  19000        1
93 2021-01-25          Butantan/CoronaVac   8800        1
89 2021-02-03          Butantan/CoronaVac  26000        2
92 2021-02-07          Butantan/CoronaVac  23800        2
..        ...                         ...    ...      ...
4  2021-09-08             Pfizer/BioNTech  24570        9
3  2021-09-09          Butantan/CoronaVac  19400        9
2  2021-09-09             Pfizer/BioNTech  11700        9
1  2021-09-13             Pfizer/BioNTech  53820        9
0  2021-09-15             Pfizer/BioNTech  11700        9

[96 rows x 4 columns]

In [33]:
vacinas_group = vacinas_recebidas.groupby(by=['mes_int','vacina'], sort=False).sum()
vacinas_group.reset_index(inplace=True)
vacinas_group

    mes_int                      vacina   total
0         1          Butantan/CoronaVac   57680
1         1  Oxford/AstraZeneca/Fiocruz   19000
2         2          Butantan/CoronaVac   58800
3         2  Oxford/AstraZeneca/Fiocruz   16500
4         3          Butantan/CoronaVac  126600
5         3  Oxford/AstraZeneca/Fiocruz   39650
6         4          Butantan/CoronaVac  121800
7         4  Oxford/AstraZeneca/Fiocruz  134250
8         5          Butantan/CoronaVac   47080
9         5             Pfizer/BioNTech   30420
10        5  Oxford/AstraZeneca/Fiocruz  277650
11        6  Oxford/AstraZeneca/Fiocruz  223250
12        6             Pfizer/BioNTech   83070
13        6          Butantan/CoronaVac   47400
14        6                     Janssen   16300
15        7             Pfizer/BioNTech  115830
16        7                     Janssen   22400
17        7  Oxford/AstraZeneca/Fiocruz  139550
18        7          Butantan/CoronaVac   83700
19        8          Butantan/CoronaVac  179730
20        8             Pfizer/BioNTech  359190
21        8                     Janssen    1050
22        8  Oxford/AstraZeneca/Fiocruz  152500
23        9             Pfizer/BioNTech  156780
24        9  Oxford/AstraZeneca/Fiocruz   16250
25        9          Butantan/CoronaVac   58000

In [34]:
vacinas_group = vacinas_group.pivot_table(values='total', index=['mes_int'], columns='vacina')
vacinas_group.fillna(0, inplace=True)
vacinas_group.reset_index(inplace=True)
vacinas_group = pd.melt(vacinas_group, id_vars=['mes_int'], value_name='total')
#vacinas_group.dropna(inplace=True)
vacinas_group['total'] = vacinas_group['total'].astype(int)
vacinas_group

    mes_int                      vacina   total
0         1          Butantan/CoronaVac   57680
1         2          Butantan/CoronaVac   58800
2         3          Butantan/CoronaVac  126600
3         4          Butantan/CoronaVac  121800
4         5          Butantan/CoronaVac   47080
5         6          Butantan/CoronaVac   47400
6         7          Butantan/CoronaVac   83700
7         8          Butantan/CoronaVac  179730
8         9          Butantan/CoronaVac   58000
9         1                     Janssen       0
10        2                     Janssen       0
11        3                     Janssen       0
12        4                     Janssen       0
13        5                     Janssen       0
14        6                     Janssen   16300
15        7                     Janssen   22400
16        8                     Janssen    1050
17        9                     Janssen       0
18        1  Oxford/AstraZeneca/Fiocruz   19000
19        2  Oxford/AstraZeneca/Fiocruz   16500
20        3  Oxford/AstraZeneca/Fiocruz   39650
21        4  Oxford/AstraZeneca/Fiocruz  134250
22        5  Oxford/AstraZeneca/Fiocruz  277650
23        6  Oxford/AstraZeneca/Fiocruz  223250
24        7  Oxford/AstraZeneca/Fiocruz  139550
25        8  Oxford/AstraZeneca/Fiocruz  152500
26        9  Oxford/AstraZeneca/Fiocruz   16250
27        1             Pfizer/BioNTech       0
28        2             Pfizer/BioNTech       0
29        3             Pfizer/BioNTech       0
30        4             Pfizer/BioNTech       0
31        5             Pfizer/BioNTech   30420
32        6             Pfizer/BioNTech   83070
33        7             Pfizer/BioNTech  115830
34        8             Pfizer/BioNTech  359190
35        9             Pfizer/BioNTech  156780

In [35]:
vacinas_group['mes'] = pd.to_datetime(vacinas_group.mes_int, format='%m').dt.month_name(locale='pt_BR')
vacinas_group.sort_values(by=['mes_int','vacina'], inplace=True)
vacinas_group

    mes_int                      vacina   total        mes
0         1          Butantan/CoronaVac   57680    Janeiro
9         1                     Janssen       0    Janeiro
18        1  Oxford/AstraZeneca/Fiocruz   19000    Janeiro
27        1             Pfizer/BioNTech       0    Janeiro
1         2          Butantan/CoronaVac   58800  Fevereiro
10        2                     Janssen       0  Fevereiro
19        2  Oxford/AstraZeneca/Fiocruz   16500  Fevereiro
28        2             Pfizer/BioNTech       0  Fevereiro
2         3          Butantan/CoronaVac  126600      Março
11        3                     Janssen       0      Março
20        3  Oxford/AstraZeneca/Fiocruz   39650      Março
29        3             Pfizer/BioNTech       0      Março
3         4          Butantan/CoronaVac  121800      Abril
12        4                     Janssen       0      Abril
21        4  Oxford/AstraZeneca/Fiocruz  134250      Abril
30        4             Pfizer/BioNTech       0      Abril
4         5          Butantan/CoronaVac   47080       Maio
13        5                     Janssen       0       Maio
22        5  Oxford/AstraZeneca/Fiocruz  277650       Maio
31        5             Pfizer/BioNTech   30420       Maio
5         6          Butantan/CoronaVac   47400      Junho
14        6                     Janssen   16300      Junho
23        6  Oxford/AstraZeneca/Fiocruz  223250      Junho
32        6             Pfizer/BioNTech   83070      Junho
6         7          Butantan/CoronaVac   83700      Julho
15        7                     Janssen   22400      Julho
24        7  Oxford/AstraZeneca/Fiocruz  139550      Julho
33        7             Pfizer/BioNTech  115830      Julho
7         8          Butantan/CoronaVac  179730     Agosto
16        8                     Janssen    1050     Agosto
25        8  Oxford/AstraZeneca/Fiocruz  152500     Agosto
34        8             Pfizer/BioNTech  359190     Agosto
8         9          Butantan/CoronaVac   58000   Setembro
17        9                     Janssen       0   Setembro
26        9  Oxford/AstraZeneca/Fiocruz   16250   Setembro
35        9             Pfizer/BioNTech  156780   Setembro

In [36]:
vacinas_group[['mes','mes_int','vacina','total']].to_csv("output/total_vacinas_recebidas.csv", index=False)