# Processamento de Dados da Vacinação Sergipe

In [1]:
import pandas as pd

In [166]:
# Carrega os dados por município e grupo
data_total_municipio = pd.read_csv("output/relatorio_vacina_sergipe.csv")

# Carrega arquivo de histórico por data
data_historico_estado = pd.read_excel("output/historico_sergipe.xlsx")

In [155]:
data_total_municipio

,codigo_municipio,municipio,populacao_total,populacao_grupo4_80mais,populacao_grupo5_7079,populacao_grupo6_6069,enviadas_dose1,enviadas_dose2,aplicadas_dose1,aplicadas_dose2,...,aplicadas_dose2_grupo18_privadosliberdade,aplicadas_dose2_grupo19_transporteaereo,aplicadas_dose2_grupo20_limpezaurbana,aplicadas_dose2_grupo21_transportecoletivo,aplicadas_dose2_grupo22_caminhoneiros,aplicadas_dose2_grupo23_5559,aplicadas_dose2_grupo24_educacaosuperior,aplicadas_dose2_grupo25_zonaportuaria,aplicadas_dose2_grupo26_industriaiscivil,aplicadas_dose2_grupo27_5054
0,280010,Amparo de São Francisco,2380,51,89,140,890,306,757,237,...,0,0,0,0,0,0,0,0,0,0
1,280020,Aquidabã,21681,481,932,1543,6258,2964,4696,2181,...,0,0,0,0,0,0,0,0,0,0
2,280030,Aracaju,664908,10149,24138,47854,209319,93970,172442,60028,...,0,0,0,0,0,0,0,0,0,0
3,280040,Arauá,9947,149,348,644,2510,1082,2192,1067,...,0,0,0,0,0,0,0,0,0,0
4,280050,Areia Branca,18686,281,548,1047,5073,1701,3604,1438,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,280720,Siriri,8970,154,316,533,2292,973,1873,913,...,0,0,0,0,0,0,0,0,0,0
71,280730,Telha,3249,49,100,178,822,369,778,367,...,0,0,0,0,0,0,0,0,0,0
72,280740,Tobias Barreto,52530,1046,2188,3513,15263,6538,12474,5696,...,0,0,0,0,0,0,0,0,0,0
73,280750,Tomar do Geru,13535,208,446,760,3069,1336,2164,1087,...,0,0,0,0,0,0,0,0,0,0
74,280760,Umbaúba,25550,308,725,1482,6386,2238,4830,1886,...,0,0,0,0,0,0,0,0,0,0

In [167]:
data_historico_estado

,data,enviadas_dose1,aplicadas_dose1,enviadas_dose2,aplicadas_dose2
0,2021-03-01,54898,45836,28258,24909
1,2021-03-02,78109,48907,35377,25744
2,2021-03-03,78109,54155,35377,26816
3,2021-03-04,78109,61270,35377,27275
4,2021-03-05,92630,67793,35377,28353
...,...,...,...,...,...
85,2021-06-03,566237,489348,269412,196987
86,2021-06-04,566237,494514,269412,197634
87,2021-06-06,566237,498721,269412,198698
88,2021-06-07,637442,509112,270812,199548
89,2021-06-08,637442,523434,270812,206729

## Geração do Arquivo de Total de Doses Enviadas e Aplicadas por Município

In [157]:
filter_historico = data_total_municipio[['codigo_municipio','municipio','populacao_total','enviadas_dose1','aplicadas_dose1','enviadas_dose2','aplicadas_dose2']]

In [158]:
total_sergipe = data_historico_estado.tail(1)

In [159]:
new_line = ['000000','TODO ESTADO',2318822,int(total_sergipe['enviadas_dose1']),int(total_sergipe['aplicadas_dose1']),int(total_sergipe['enviadas_dose2']),int(total_sergipe['aplicadas_dose2'])]
new_line

['000000', 'TODO ESTADO', 2318822, 637442, 523434, 270812, 206729]

In [160]:
data_total_final = filter_historico.append(pd.Series(new_line, index=filter_historico.columns), ignore_index=True)

In [161]:
data_total_final['cobertura_pop_dose1'] = data_total_final['aplicadas_dose1'] / data_total_final['populacao_total']
data_total_final['cobertura_pop_dose2'] = data_total_final['aplicadas_dose2'] / data_total_final['populacao_total']

In [162]:
data_total_final

,codigo_municipio,municipio,populacao_total,enviadas_dose1,aplicadas_dose1,enviadas_dose2,aplicadas_dose2,cobertura_pop_dose1,cobertura_pop_dose2
0,280010,Amparo de São Francisco,2380,890,757,306,237,0.318067,0.099580
1,280020,Aquidabã,21681,6258,4696,2964,2181,0.216595,0.100595
2,280030,Aracaju,664908,209319,172442,93970,60028,0.259347,0.090280
3,280040,Arauá,9947,2510,2192,1082,1067,0.220368,0.107269
4,280050,Areia Branca,18686,5073,3604,1701,1438,0.192872,0.076956
...,...,...,...,...,...,...,...,...,...
71,280730,Telha,3249,822,778,369,367,0.239458,0.112958
72,280740,Tobias Barreto,52530,15263,12474,6538,5696,0.237464,0.108433
73,280750,Tomar do Geru,13535,3069,2164,1336,1087,0.159882,0.080310
74,280760,Umbaúba,25550,6386,4830,2238,1886,0.189041,0.073816
75,000000,TODO ESTADO,2318822,637442,523434,270812,206729,0.225733,0.089153

In [163]:
data_total_final.to_csv("output/data_vacinas_municipio.csv",index=False)

## Geração do Arquivo de Histórico da vacinação do Estado com Média Móvel

In [170]:
total_historico

,data,aplicadas_dose1,aplicadas_dose2,diario_dose1,diario_dose2,mediamovel_dose1,mediamovel_dose2
0,2021-03-01,45836,24909,0.0,0.0,0.000000,0.000000
1,2021-03-02,48907,25744,3071.0,835.0,0.000000,0.000000
2,2021-03-03,54155,26816,5248.0,1072.0,0.000000,0.000000
3,2021-03-04,61270,27275,7115.0,459.0,0.000000,0.000000
4,2021-03-05,67793,28353,6523.0,1078.0,0.000000,0.000000
...,...,...,...,...,...,...,...
82,2021-05-31,463252,193500,3050.0,165.0,6510.571429,1081.857143
83,2021-06-01,471291,194161,8039.0,661.0,5950.142857,562.142857
84,2021-06-02,478396,196071,7105.0,1910.0,6149.857143,768.428571
85,2021-06-03,489348,196987,10952.0,916.0,6128.142857,840.000000
86,2021-06-04,494514,197634,5166.0,647.0,5922.285714,817.428571

In [175]:
data_historico_estado[['data','aplicadas_dose1','aplicadas_dose2']].copy()

         data  aplicadas_dose1  aplicadas_dose2
0  2021-03-01            45836            24909
1  2021-03-02            48907            25744
2  2021-03-03            54155            26816
3  2021-03-04            61270            27275
4  2021-03-05            67793            28353
..        ...              ...              ...
85 2021-06-03           489348           196987
86 2021-06-04           494514           197634
87 2021-06-06           498721           198698
88 2021-06-07           509112           199548
89 2021-06-08           523434           206729

[90 rows x 3 columns]

In [178]:
# Calcula a média móvel e o total por dia
total_historico = data_historico_estado[['data','aplicadas_dose1','aplicadas_dose2']].copy()
total_historico['diario_dose1'] = total_historico['aplicadas_dose1'].diff()
total_historico['diario_dose2'] = total_historico['aplicadas_dose2'].diff()
total_historico['mediamovel_dose1'] = total_historico['diario_dose1'].rolling(window=7).mean()
total_historico['mediamovel_dose2'] = total_historico['diario_dose2'].rolling(window=7).mean()
total_historico = total_historico.fillna(0)
total_historico

,data,aplicadas_dose1,aplicadas_dose2,diario_dose1,diario_dose2,mediamovel_dose1,mediamovel_dose2
0,2021-03-01,45836,24909,0.0,0.0,0.000000,0.000000
1,2021-03-02,48907,25744,3071.0,835.0,0.000000,0.000000
2,2021-03-03,54155,26816,5248.0,1072.0,0.000000,0.000000
3,2021-03-04,61270,27275,7115.0,459.0,0.000000,0.000000
4,2021-03-05,67793,28353,6523.0,1078.0,0.000000,0.000000
...,...,...,...,...,...,...,...
85,2021-06-03,489348,196987,10952.0,916.0,6128.142857,840.000000
86,2021-06-04,494514,197634,5166.0,647.0,5922.285714,817.428571
87,2021-06-06,498721,198698,4207.0,1064.0,5849.857143,898.285714
88,2021-06-07,509112,199548,10391.0,850.0,6987.142857,887.571429
89,2021-06-08,523434,206729,14322.0,7181.0,8597.428571,1889.857143

In [179]:
total_historico.to_csv("output/data_vacinas_historico.csv", index=False)

## Geração do Arquivo de Total por Grupos de Vacinação

In [180]:
grupos = {
    1: 'Trabalhadores da Saúde',
    2: 'Pessoas com 60 anos ou mais e deficientes Institucionalizados',
    3: 'Índio Aldeado',
    4: 'Pessoas com 80 anos e mais',
    5: 'Pessoas de 70 a 79 anos', 
    6: 'Pessoas de 60 a 69 anos',
    7: 'Situação de Rua',
    8: 'Quilombolas',
    9: 'Trabalhadores das forças de segurança',
    10: 'Pessoas com Síndrome de Dowm e Autismo',
    11: 'Outros (População vacinada com resíduos de vacinas ao final do dia)',
    12: 'Puerperas com comorbidade',
    13: 'Gestante com comorbidade',
    14: 'Deficiente Permanente',
    15: 'Comorbidades',
    16: 'Trabalhadores da Educação',
    17: 'Trabalhadores do sistema prisional',
    18: 'Privados de liberdade',
    19: 'Trabalhadores do Transporte aéreo',
    20: 'Trabalhadores da Limpeza Urbana',
    21: 'Trabalhadores do Transporte Coletivo',
    22: 'Caminhoneiros',
    23: 'População de 55 a 59 anos',
    24: 'Trabalhadores da Educação Superior',
    25: 'Trabalhadores da Zona Portuária',
    26: 'Trabalhadores Industriais e Civil',
    27: 'População de 50 a 54 anos'
}

In [181]:
data_total_municipio

,codigo_municipio,municipio,populacao_total,populacao_grupo4_80mais,populacao_grupo5_7079,populacao_grupo6_6069,enviadas_dose1,enviadas_dose2,aplicadas_dose1,aplicadas_dose2,...,aplicadas_dose2_grupo18_privadosliberdade,aplicadas_dose2_grupo19_transporteaereo,aplicadas_dose2_grupo20_limpezaurbana,aplicadas_dose2_grupo21_transportecoletivo,aplicadas_dose2_grupo22_caminhoneiros,aplicadas_dose2_grupo23_5559,aplicadas_dose2_grupo24_educacaosuperior,aplicadas_dose2_grupo25_zonaportuaria,aplicadas_dose2_grupo26_industriaiscivil,aplicadas_dose2_grupo27_5054
0,280010,Amparo de São Francisco,2380,51,89,140,890,306,757,237,...,0,0,0,0,0,0,0,0,0,0
1,280020,Aquidabã,21681,481,932,1543,6258,2964,4696,2181,...,0,0,0,0,0,0,0,0,0,0
2,280030,Aracaju,664908,10149,24138,47854,209319,93970,172442,60028,...,0,0,0,0,0,0,0,0,0,0
3,280040,Arauá,9947,149,348,644,2510,1082,2192,1067,...,0,0,0,0,0,0,0,0,0,0
4,280050,Areia Branca,18686,281,548,1047,5073,1701,3604,1438,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,280720,Siriri,8970,154,316,533,2292,973,1873,913,...,0,0,0,0,0,0,0,0,0,0
71,280730,Telha,3249,49,100,178,822,369,778,367,...,0,0,0,0,0,0,0,0,0,0
72,280740,Tobias Barreto,52530,1046,2188,3513,15263,6538,12474,5696,...,0,0,0,0,0,0,0,0,0,0
73,280750,Tomar do Geru,13535,208,446,760,3069,1336,2164,1087,...,0,0,0,0,0,0,0,0,0,0
74,280760,Umbaúba,25550,308,725,1482,6386,2238,4830,1886,...,0,0,0,0,0,0,0,0,0,0

In [182]:
# Organizando as colunas como linhas da tabela
data_group = data_total_municipio.drop(columns=['populacao_total',
       'populacao_grupo4_80mais', 'populacao_grupo5_7079',
       'populacao_grupo6_6069', 'enviadas_dose1', 'enviadas_dose2',
       'aplicadas_dose1', 'aplicadas_dose2'])
data_group = pd.melt(data_group, id_vars=['codigo_municipio','municipio'], value_name='total')
data_group

,codigo_municipio,municipio,variable,total
0,280010,Amparo de São Francisco,aplicadas_dose1_grupo1_saude,63
1,280020,Aquidabã,aplicadas_dose1_grupo1_saude,447
2,280030,Aracaju,aplicadas_dose1_grupo1_saude,35868
3,280040,Arauá,aplicadas_dose1_grupo1_saude,166
4,280050,Areia Branca,aplicadas_dose1_grupo1_saude,269
...,...,...,...,...
3895,280720,Siriri,aplicadas_dose2_grupo27_5054,0
3896,280730,Telha,aplicadas_dose2_grupo27_5054,0
3897,280740,Tobias Barreto,aplicadas_dose2_grupo27_5054,0
3898,280750,Tomar do Geru,aplicadas_dose2_grupo27_5054,0
3899,280760,Umbaúba,aplicadas_dose2_grupo27_5054,0

In [183]:
## Funções Auxiliares para mapear informações em novas colunas

import re
def function_map(row, index, convert=False):
    split_value = row['variable'].split("_")[index]
    if convert:
        split_value = list(map(int, re.findall(r'\d+',  split_value)))[0]
    return split_value

def grupos_map(row): 
    return grupos[row['grupo']]

In [184]:
# Criando novas colunas
data_group['dose'] = data_group.apply(lambda row: function_map(row, 1, True), axis=1)
data_group['grupo'] = data_group.apply(lambda row: function_map(row, 2, True), axis=1)
data_group['nome_grupo'] = data_group.apply(lambda row: grupos_map(row), axis=1)

In [185]:
data_group = data_group.drop(columns=['variable'])
data_group

,codigo_municipio,municipio,total,dose,grupo,nome_grupo
0,280010,Amparo de São Francisco,63,1,1,Trabalhadores da Saúde
1,280020,Aquidabã,447,1,1,Trabalhadores da Saúde
2,280030,Aracaju,35868,1,1,Trabalhadores da Saúde
3,280040,Arauá,166,1,1,Trabalhadores da Saúde
4,280050,Areia Branca,269,1,1,Trabalhadores da Saúde
...,...,...,...,...,...,...
3895,280720,Siriri,0,2,27,População de 50 a 54 anos
3896,280730,Telha,0,2,27,População de 50 a 54 anos
3897,280740,Tobias Barreto,0,2,27,População de 50 a 54 anos
3898,280750,Tomar do Geru,0,2,27,População de 50 a 54 anos
3899,280760,Umbaúba,0,2,27,População de 50 a 54 anos

### Agrupando por Dose e Grupos

In [186]:
data_group_estado = data_group[['dose','grupo','nome_grupo','total']].groupby(by=['dose','grupo','nome_grupo']).sum()
data_group_estado.reset_index(inplace=True)
data_group_estado

    dose  grupo                                         nome_grupo   total
0      1      1                             Trabalhadores da Saúde   70588
1      1      2  Pessoas com 60 anos ou mais e deficientes Inst...     886
2      1      3                                      Índio Aldeado     260
3      1      4                         Pessoas com 80 anos e mais   40209
4      1      5                            Pessoas de 70 a 79 anos   81089
5      1      6                            Pessoas de 60 a 69 anos  140583
6      1      7                                    Situação de Rua     107
7      1      8                                        Quilombolas   11033
8      1      9              Trabalhadores das forças de segurança    8016
9      1     10             Pessoas com Síndrome de Dowm e Autismo    1324
10     1     12                          Puerperas com comorbidade     157
11     1     13                           Gestante com comorbidade     472
12     1     14                              Deficiente Permanente    6452
13     1     15                                       Comorbidades  102127
14     1     16                          Trabalhadores da Educação   27404
15     1     17                 Trabalhadores do sistema prisional     630
16     1     18                              Privados de liberdade    1340
17     1     19                  Trabalhadores do Transporte aéreo     437
18     1     20                    Trabalhadores da Limpeza Urbana    3278
19     1     21               Trabalhadores do Transporte Coletivo    2422
20     1     22                                      Caminhoneiros    3419
21     1     23                          População de 55 a 59 anos   17985
22     1     24                 Trabalhadores da Educação Superior    1246
23     1     25                    Trabalhadores da Zona Portuária     384
24     1     26                  Trabalhadores Industriais e Civil     890
25     1     27                          População de 50 a 54 anos     696
26     2      1                             Trabalhadores da Saúde   49084
27     2      2  Pessoas com 60 anos ou mais e deficientes Inst...     800
28     2      3                                      Índio Aldeado     260
29     2      4                         Pessoas com 80 anos e mais   29403
30     2      5                            Pessoas de 70 a 79 anos   67748
31     2      6                            Pessoas de 60 a 69 anos   55872
32     2      7                                    Situação de Rua      43
33     2      8                                        Quilombolas     684
34     2      9              Trabalhadores das forças de segurança    1913
35     2     10             Pessoas com Síndrome de Dowm e Autismo     919
36     2     12                          Puerperas com comorbidade       2
37     2     13                           Gestante com comorbidade       1
38     2     14                              Deficiente Permanente       0
39     2     15                                       Comorbidades       0
40     2     16                          Trabalhadores da Educação       0
41     2     17                 Trabalhadores do sistema prisional       0
42     2     18                              Privados de liberdade       0
43     2     19                  Trabalhadores do Transporte aéreo       0
44     2     20                    Trabalhadores da Limpeza Urbana       0
45     2     21               Trabalhadores do Transporte Coletivo       0
46     2     22                                      Caminhoneiros       0
47     2     23                          População de 55 a 59 anos       0
48     2     24                 Trabalhadores da Educação Superior       0
49     2     25                    Trabalhadores da Zona Portuária       0
50     2     26                  Trabalhadores Industriais e Civil       0
51     2     27                          População de 50 a 54 anos       0

In [187]:
data_group_estado.to_csv("output/data_vacinas_grupos_estado.csv", index=False)

In [188]:
data_group_municipio = data_group.groupby(by=['codigo_municipio','municipio','dose','grupo','nome_grupo']).sum()
data_group_municipio.reset_index(inplace=True)
data_group_municipio

,codigo_municipio,municipio,dose,grupo,nome_grupo,total
0,280010,Amparo de São Francisco,1,1,Trabalhadores da Saúde,63
1,280010,Amparo de São Francisco,1,2,Pessoas com 60 anos ou mais e deficientes Inst...,0
2,280010,Amparo de São Francisco,1,3,Índio Aldeado,0
3,280010,Amparo de São Francisco,1,4,Pessoas com 80 anos e mais,42
4,280010,Amparo de São Francisco,1,5,Pessoas de 70 a 79 anos,97
...,...,...,...,...,...,...
3895,280760,Umbaúba,2,23,População de 55 a 59 anos,0
3896,280760,Umbaúba,2,24,Trabalhadores da Educação Superior,0
3897,280760,Umbaúba,2,25,Trabalhadores da Zona Portuária,0
3898,280760,Umbaúba,2,26,Trabalhadores Industriais e Civil,0
3899,280760,Umbaúba,2,27,População de 50 a 54 anos,0

In [189]:
data_group_municipio.to_csv("output/data_vacinas_grupos_municipios.csv", index=False)