# Processamento de Dados da Vacinação Sergipe

In [104]:
import pandas as pd
import numpy as np

In [105]:
# Carrega os dados por município e grupo
data_total_municipio = pd.read_csv("output/relatorio_vacina_sergipe.csv")

# Carrega arquivo de histórico por data
data_historico_estado = pd.read_excel("data_general/historico_sergipe.xlsx")

In [106]:
data_total_municipio

,codigo_municipio,municipio,populacao_total,populacao_grupo4_80mais,populacao_grupo5_7079,populacao_grupo6_6069,enviadas_dose1,enviadas_dose2,aplicadas_dose1,aplicadas_dose2,...,aplicadas_dose2_grupo23_5559,aplicadas_dose2_grupo24_educacaosuperior,aplicadas_dose2_grupo25_zonaportuaria,aplicadas_dose2_grupo26_industriaiscivil,aplicadas_dose2_grupo27_5054,aplicadas_dose2_grupo28_4549,aplicadas_dose2_grupo29_4044,aplicadas_dose2_grupo30_gestantes,aplicadas_dose2_grupo31_puerperas,aplicadas_dose_unica
0,280010,Amparo de São Francisco,2380,51,89,140,1020,306,970,249,...,0,0,0,0,0,0,0,0,0,0
1,280020,Aquidabã,21681,481,932,1543,7632,2964,7366,2423,...,0,0,0,0,0,0,0,0,0,0
2,280030,Aracaju,664908,10149,24138,47854,260259,93970,267457,78771,...,0,0,0,0,0,0,0,7,0,3880
3,280040,Arauá,9947,149,348,644,3115,1082,2818,1081,...,0,0,0,0,0,0,0,0,0,0
4,280050,Areia Branca,18686,281,548,1047,6132,1701,6071,1537,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,280720,Siriri,8970,154,316,533,2768,973,2613,916,...,0,0,0,0,0,0,0,0,0,0
71,280730,Telha,3249,49,100,178,1012,369,1020,369,...,0,0,0,0,0,0,0,0,0,0
72,280740,Tobias Barreto,52530,1046,2188,3513,18689,6538,19196,6944,...,0,0,0,0,0,0,0,0,0,894
73,280750,Tomar do Geru,13535,208,446,760,3933,1336,3718,1176,...,0,0,0,0,0,0,0,0,0,0
74,280760,Umbaúba,25550,308,725,1482,7888,2238,7626,2127,...,0,0,0,0,0,0,0,0,0,0

In [107]:
data_historico_estado

,data,enviadas_dose1,aplicadas_dose1,enviadas_dose2,aplicadas_dose2,enviadas_dose_unica,aplicadas_dose_unica
0,2021-03-01,54898,45836,28258,24909,0,0
1,2021-03-02,78109,48907,35377,25744,0,0
2,2021-03-03,78109,54155,35377,26816,0,0
3,2021-03-04,78109,61270,35377,27275,0,0
4,2021-03-05,92630,67793,35377,28353,0,0
...,...,...,...,...,...,...,...
103,2021-06-23,734847,736365,270813,220590,0,0
104,2021-06-27,791752,743626,270843,225871,0,0
105,2021-06-28,791752,761736,270843,233760,0,0
106,2021-06-29,791752,766016,270843,236511,16300,9222
107,2021-06-30,791752,780839,270843,241774,16300,10950

## Geração do Arquivo de Total de Doses Enviadas e Aplicadas por Município

In [108]:
filter_historico = data_total_municipio[['codigo_municipio','municipio','populacao_total','enviadas_dose1','aplicadas_dose1','enviadas_dose2','aplicadas_dose2','aplicadas_dose_unica']]

In [109]:
total_sergipe = data_historico_estado.tail(1)

In [110]:
new_line = ['000000','TODO ESTADO',2318822,int(total_sergipe['enviadas_dose1']),int(total_sergipe['aplicadas_dose1']),int(total_sergipe['enviadas_dose2']),int(total_sergipe['aplicadas_dose2']), int(total_sergipe['aplicadas_dose_unica'])]
new_line

['000000', 'TODO ESTADO', 2318822, 791752, 780839, 270843, 241774, 10950]

In [111]:
data_total_final = filter_historico.append(pd.Series(new_line, index=filter_historico.columns), ignore_index=True)

In [112]:
data_total_final['cobertura_pop_dose1'] = data_total_final['aplicadas_dose1'] / data_total_final['populacao_total']
data_total_final['cobertura_pop_dose2'] = data_total_final['aplicadas_dose2'] / data_total_final['populacao_total']
data_total_final['cobertura_pop_dose2_dose_unica'] = (data_total_final['aplicadas_dose2'] + data_total_final['aplicadas_dose_unica']) / data_total_final['populacao_total']

In [113]:
data_total_final

,codigo_municipio,municipio,populacao_total,enviadas_dose1,aplicadas_dose1,enviadas_dose2,aplicadas_dose2,aplicadas_dose_unica,cobertura_pop_dose1,cobertura_pop_dose2,cobertura_pop_dose2_dose_unica
0,280010,Amparo de São Francisco,2380,1020,970,306,249,0,0.407563,0.104622,0.104622
1,280020,Aquidabã,21681,7632,7366,2964,2423,0,0.339744,0.111757,0.111757
2,280030,Aracaju,664908,260259,267457,93970,78771,3880,0.402247,0.118469,0.124304
3,280040,Arauá,9947,3115,2818,1082,1081,0,0.283301,0.108676,0.108676
4,280050,Areia Branca,18686,6132,6071,1701,1537,0,0.324896,0.082254,0.082254
...,...,...,...,...,...,...,...,...,...,...,...
71,280730,Telha,3249,1012,1020,369,369,0,0.313943,0.113573,0.113573
72,280740,Tobias Barreto,52530,18689,19196,6538,6944,894,0.365429,0.132191,0.149210
73,280750,Tomar do Geru,13535,3933,3718,1336,1176,0,0.274695,0.086886,0.086886
74,280760,Umbaúba,25550,7888,7626,2238,2127,0,0.298474,0.083249,0.083249
75,000000,TODO ESTADO,2318822,791752,780839,270843,241774,10950,0.336740,0.104266,0.108988

In [114]:
data_total_final.to_csv("output/data_vacinas_municipio.csv",index=False)

## Geração do Arquivo de Histórico da vacinação do Estado com Média Móvel

In [115]:
data_historico_estado[['data','aplicadas_dose1','aplicadas_dose2','aplicadas_dose_unica']].copy()

          data  aplicadas_dose1  aplicadas_dose2  aplicadas_dose_unica
0   2021-03-01            45836            24909                     0
1   2021-03-02            48907            25744                     0
2   2021-03-03            54155            26816                     0
3   2021-03-04            61270            27275                     0
4   2021-03-05            67793            28353                     0
..         ...              ...              ...                   ...
103 2021-06-23           736365           220590                     0
104 2021-06-27           743626           225871                     0
105 2021-06-28           761736           233760                     0
106 2021-06-29           766016           236511                  9222
107 2021-06-30           780839           241774                 10950

[108 rows x 4 columns]

In [116]:
# Calcula a média móvel e o total por dia
total_historico = data_historico_estado[['data','enviadas_dose1','enviadas_dose2','aplicadas_dose1','aplicadas_dose2','enviadas_dose_unica','aplicadas_dose_unica']].copy()
total_historico['diario_dose1'] = total_historico['aplicadas_dose1'].diff()
total_historico['diario_dose2'] = total_historico['aplicadas_dose2'].diff()
total_historico['diario_dose_unica'] = total_historico['aplicadas_dose_unica'].diff()
total_historico['mediamovel_dose1'] = total_historico['diario_dose1'].rolling(window=7).mean()
total_historico['mediamovel_dose2'] = total_historico['diario_dose2'].rolling(window=7).mean()
total_historico['mediamovel_dose_unica'] = total_historico['diario_dose_unica'].rolling(window=7).mean()
total_historico['percent_uso_dose1'] = total_historico['aplicadas_dose1'] / total_historico['enviadas_dose1']
total_historico['percent_uso_dose2'] = total_historico['aplicadas_dose2'] / total_historico['enviadas_dose2']
total_historico['percent_uso_dose_unica'] = total_historico['aplicadas_dose_unica'] / total_historico['enviadas_dose_unica']
total_historico = total_historico.fillna(0)
total_historico

,data,enviadas_dose1,enviadas_dose2,aplicadas_dose1,aplicadas_dose2,enviadas_dose_unica,aplicadas_dose_unica,diario_dose1,diario_dose2,diario_dose_unica,mediamovel_dose1,mediamovel_dose2,mediamovel_dose_unica,percent_uso_dose1,percent_uso_dose2,percent_uso_dose_unica
0,2021-03-01,54898,28258,45836,24909,0,0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.834930,0.881485,0.000000
1,2021-03-02,78109,35377,48907,25744,0,0,3071.0,835.0,0.0,0.000000,0.000000,0.000000,0.626138,0.727704,0.000000
2,2021-03-03,78109,35377,54155,26816,0,0,5248.0,1072.0,0.0,0.000000,0.000000,0.000000,0.693326,0.758007,0.000000
3,2021-03-04,78109,35377,61270,27275,0,0,7115.0,459.0,0.0,0.000000,0.000000,0.000000,0.784417,0.770981,0.000000
4,2021-03-05,92630,35377,67793,28353,0,0,6523.0,1078.0,0.0,0.000000,0.000000,0.000000,0.731869,0.801453,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,2021-06-23,734847,270813,736365,220590,0,0,4074.0,599.0,0.0,16201.571429,521.142857,0.000000,1.002066,0.814547,0.000000
104,2021-06-27,791752,270843,743626,225871,0,0,7261.0,5281.0,0.0,15594.285714,1147.714286,0.000000,0.939216,0.833955,0.000000
105,2021-06-28,791752,270843,761736,233760,0,0,18110.0,7889.0,0.0,16496.428571,2193.857143,0.000000,0.962089,0.863083,0.000000
106,2021-06-29,791752,270843,766016,236511,16300,9222,4280.0,2751.0,9222.0,13066.571429,2489.428571,1317.428571,0.967495,0.873240,0.565767
107,2021-06-30,791752,270843,780839,241774,16300,10950,14823.0,5263.0,1728.0,12339.571429,3233.714286,1564.285714,0.986217,0.892672,0.671779

In [117]:
total_historico.to_csv("output/data_vacinas_historico.csv", index=False)

## Geração do Arquivo de Total por Grupos de Vacinação

In [118]:
grupos = {
    1: 'Trabalhadores da Saúde',
    2: 'Pessoas com 60 anos ou mais e deficientes Institucionalizados',
    3: 'Índio Aldeado',
    4: 'Pessoas com 80 anos e mais',
    5: 'Pessoas de 70 a 79 anos', 
    6: 'Pessoas de 60 a 69 anos',
    7: 'Situação de Rua',
    8: 'Quilombolas',
    9: 'Trabalhadores das forças de segurança',
    10: 'Pessoas com Síndrome de Dowm e Autismo',
    11: 'Outros (População vacinada com resíduos de vacinas ao final do dia)',
    12: 'Puerperas com comorbidade',
    13: 'Gestante com comorbidade',
    14: 'Deficiente Permanente',
    15: 'Comorbidades',
    16: 'Trabalhadores da Educação',
    17: 'Trabalhadores do sistema prisional',
    18: 'Privados de liberdade',
    19: 'Trabalhadores do Transporte aéreo',
    20: 'Trabalhadores da Limpeza Urbana',
    21: 'Trabalhadores do Transporte Coletivo',
    22: 'Caminhoneiros',
    23: 'População de 55 a 59 anos',
    24: 'Trabalhadores da Educação Superior',
    25: 'Trabalhadores da Zona Portuária',
    26: 'Trabalhadores Industriais e Civil',
    27: 'População de 50 a 54 anos',
    28: 'População de 45 a 49 anos',
    29: 'População de 40 a 44 anos',
    30: 'Gestantes',
    31: 'Puerperas',
    99: 'Dose única',
}

In [119]:
data_total_municipio

,codigo_municipio,municipio,populacao_total,populacao_grupo4_80mais,populacao_grupo5_7079,populacao_grupo6_6069,enviadas_dose1,enviadas_dose2,aplicadas_dose1,aplicadas_dose2,...,aplicadas_dose2_grupo23_5559,aplicadas_dose2_grupo24_educacaosuperior,aplicadas_dose2_grupo25_zonaportuaria,aplicadas_dose2_grupo26_industriaiscivil,aplicadas_dose2_grupo27_5054,aplicadas_dose2_grupo28_4549,aplicadas_dose2_grupo29_4044,aplicadas_dose2_grupo30_gestantes,aplicadas_dose2_grupo31_puerperas,aplicadas_dose_unica
0,280010,Amparo de São Francisco,2380,51,89,140,1020,306,970,249,...,0,0,0,0,0,0,0,0,0,0
1,280020,Aquidabã,21681,481,932,1543,7632,2964,7366,2423,...,0,0,0,0,0,0,0,0,0,0
2,280030,Aracaju,664908,10149,24138,47854,260259,93970,267457,78771,...,0,0,0,0,0,0,0,7,0,3880
3,280040,Arauá,9947,149,348,644,3115,1082,2818,1081,...,0,0,0,0,0,0,0,0,0,0
4,280050,Areia Branca,18686,281,548,1047,6132,1701,6071,1537,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,280720,Siriri,8970,154,316,533,2768,973,2613,916,...,0,0,0,0,0,0,0,0,0,0
71,280730,Telha,3249,49,100,178,1012,369,1020,369,...,0,0,0,0,0,0,0,0,0,0
72,280740,Tobias Barreto,52530,1046,2188,3513,18689,6538,19196,6944,...,0,0,0,0,0,0,0,0,0,894
73,280750,Tomar do Geru,13535,208,446,760,3933,1336,3718,1176,...,0,0,0,0,0,0,0,0,0,0
74,280760,Umbaúba,25550,308,725,1482,7888,2238,7626,2127,...,0,0,0,0,0,0,0,0,0,0

In [120]:
# Organizando as colunas como linhas da tabela
data_group = data_total_municipio.drop(columns=['populacao_total',
       'populacao_grupo4_80mais', 'populacao_grupo5_7079',
       'populacao_grupo6_6069', 'enviadas_dose1', 'enviadas_dose2',
       'aplicadas_dose1', 'aplicadas_dose2'])
data_group = pd.melt(data_group, id_vars=['codigo_municipio','municipio'], value_name='total')
data_group

,codigo_municipio,municipio,variable,total
0,280010,Amparo de São Francisco,aplicadas_dose1_grupo1_saude,66
1,280020,Aquidabã,aplicadas_dose1_grupo1_saude,467
2,280030,Aracaju,aplicadas_dose1_grupo1_saude,36709
3,280040,Arauá,aplicadas_dose1_grupo1_saude,166
4,280050,Areia Branca,aplicadas_dose1_grupo1_saude,291
...,...,...,...,...
4570,280720,Siriri,aplicadas_dose_unica,0
4571,280730,Telha,aplicadas_dose_unica,0
4572,280740,Tobias Barreto,aplicadas_dose_unica,894
4573,280750,Tomar do Geru,aplicadas_dose_unica,0
4574,280760,Umbaúba,aplicadas_dose_unica,0

In [121]:
## Funções Auxiliares para mapear informações em novas colunas

import re
def function_map(row, index, convert=False):
    split_ = row['variable'].split("_")
    if len(split_) == 3:
        if index == 1:
            split_value = -1
        else:
            split_value = 99
    else:
        split_value = split_[index]
        if convert:
            split_value = list(map(int, re.findall(r'\d+',  split_value)))[0]
    return split_value

def grupos_map(row): 
    return grupos[row['grupo']]

In [122]:
# Criando novas colunas
data_group['dose'] = data_group.apply(lambda row: function_map(row, 1, True), axis=1)
data_group['grupo'] = data_group.apply(lambda row: function_map(row, 2, True), axis=1)
data_group['nome_grupo'] = data_group.apply(lambda row: grupos_map(row), axis=1)

In [123]:
data_group = data_group.drop(columns=['variable'])
data_group

,codigo_municipio,municipio,total,dose,grupo,nome_grupo
0,280010,Amparo de São Francisco,66,1,1,Trabalhadores da Saúde
1,280020,Aquidabã,467,1,1,Trabalhadores da Saúde
2,280030,Aracaju,36709,1,1,Trabalhadores da Saúde
3,280040,Arauá,166,1,1,Trabalhadores da Saúde
4,280050,Areia Branca,291,1,1,Trabalhadores da Saúde
...,...,...,...,...,...,...
4570,280720,Siriri,0,-1,99,Dose única
4571,280730,Telha,0,-1,99,Dose única
4572,280740,Tobias Barreto,894,-1,99,Dose única
4573,280750,Tomar do Geru,0,-1,99,Dose única
4574,280760,Umbaúba,0,-1,99,Dose única

### Agrupando por Dose e Grupos

In [124]:
data_group_estado = data_group[['dose','grupo','nome_grupo','total']].groupby(by=['dose','grupo','nome_grupo']).sum()
data_group_estado.reset_index(inplace=True)
data_group_estado

    dose  grupo                                         nome_grupo  total
0     -1     99                                         Dose única  10954
1      1      1                             Trabalhadores da Saúde  73423
2      1      2  Pessoas com 60 anos ou mais e deficientes Inst...    905
3      1      3                                      Índio Aldeado    278
4      1      4                         Pessoas com 80 anos e mais  40405
..   ...    ...                                                ...    ...
56     2     27                          População de 50 a 54 anos      0
57     2     28                          População de 45 a 49 anos      0
58     2     29                          População de 40 a 44 anos      0
59     2     30                                          Gestantes     32
60     2     31                                          Puerperas      6

[61 rows x 4 columns]

In [125]:
data_group_estado.to_csv("output/data_vacinas_grupos_estado.csv", index=False)

In [126]:
data_group_municipio = data_group.groupby(by=['codigo_municipio','municipio','dose','grupo','nome_grupo']).sum()
data_group_municipio.reset_index(inplace=True)
data_group_municipio

,codigo_municipio,municipio,dose,grupo,nome_grupo,total
0,280010,Amparo de São Francisco,-1,99,Dose única,0
1,280010,Amparo de São Francisco,1,1,Trabalhadores da Saúde,66
2,280010,Amparo de São Francisco,1,2,Pessoas com 60 anos ou mais e deficientes Inst...,0
3,280010,Amparo de São Francisco,1,3,Índio Aldeado,0
4,280010,Amparo de São Francisco,1,4,Pessoas com 80 anos e mais,42
...,...,...,...,...,...,...
4570,280760,Umbaúba,2,27,População de 50 a 54 anos,0
4571,280760,Umbaúba,2,28,População de 45 a 49 anos,0
4572,280760,Umbaúba,2,29,População de 40 a 44 anos,0
4573,280760,Umbaúba,2,30,Gestantes,0
4574,280760,Umbaúba,2,31,Puerperas,0

In [127]:
data_group_municipio.to_csv("output/data_vacinas_grupos_municipios.csv", index=False)

## Vacinas Recebidas

In [128]:
def map_mounth(value):
    
    split_ = value.split("-")
    day = split_[0]
    mounth = split_[1]
    
    map_ = {
        'jan': '01',
        'fev': '02',
        'mar': '03',
        'abr': '04',
        'mai': '05',
        'jun': '06',
        'jul': '07',
        'ago': '08',
        'set': '09',
        'out': '10',
        'nov': '11',
        'dez': '12'
    }
    
    str_return = "2021-" + map_[mounth] + "-" + day
    
    return str_return

In [129]:
def map_vacinas(value):
    
    map_ = {
        'Coronavac': 'Butantan/CoronaVac',
        'AstraZeneca': 'Oxford/AstraZeneca/Fiocruz',
        'Astrazeneca': 'Oxford/AstraZeneca/Fiocruz',
        'Pfizer': 'Pfizer/BioNTech',
        'Janssen': 'Janssen'
    }
    
    return map_[value]

In [130]:
vacinas_recebidas = pd.read_csv("data_insumos/vacinas_recebidas.csv", skiprows=2, names=['data','vacina','publico_alvo','total'], thousands='.')
vacinas_recebidas

,data,vacina,publico_alvo,total
0,25-jun,Pfizer,NaN,24570
1,24-jun,Janssen,NaN,16300
2,24-jun,Coronavac,NaN,31200
3,20-jun,Astrazeneca,Destinado para segunda dose,68250
4,18-jun,Pfizer,Cobertura vacinal dos grupos prioritários e o ...,25740
5,18-jun,Coronavac,Cobertura vacinal dos grupos prioritários e o ...,16200
6,09-jun,Astrazeneca,"Destinado à primeira dose, para ampliar a cobe...",39250
7,07-jun,Pfizer,De acordo com informe técnico elaborado pelo g...,25740
8,04-jun,Pfizer,"Trabalhadores da educação de nível superior, C...",7020
9,02-jun,Astrazeneca,"Trabalhadores da educação de nível superior, C...",63750
10,26-mai,Pfizer,Pessoas com comorbidades e deficiência permane...,7020
11,26-mai,Astrazeneca,Pessoas com comorbidades e deficiência permane...,62500
12,19-mai,Pfizer,"Pessoas com comorbidades, gestantes e puérpera...",7020
13,18-mai,Astrazeneca,Pessoas com comorbidades e pessoas com deficiê...,60100
14,14-mai,Coronavac,"Segunda dose em idosos, forças de segurança e ...",11200
15,13-mai,Coronavac,aguardando reunião para definição de grupo pri...,22600
16,13-mai,Astrazeneca,aguardando reunião para definição de grupo pri...,45250
17,11-mai,Pfizer,"Trabalhadores da saúde, pessoas com comorbidad...",11700
18,09-mai,Coronavac,"Segunda dose em idosos, forças de segurança e ...",10000
19,06-mai,AstraZeneca,"Segunda dose em idosos, forças de segurança e ...",43300
20,03-mai,Pfizer,Trabalhadores da saúde,4680
21,03-mai,AstraZeneca,"Idosos com 60+, pessoas com comorbidades e de...",66500
22,02-mai,Coronavac,Idosos com 60+ e Trabalhadores da saúde,3280
23,29-abr,Coronavac,"Idosos com 60+, pessoas com comorbidades e de...",1000
24,29-abr,AstraZeneca,"Idosos com 60+, pessoas com comorbidades e de...",46000
25,22-abr,AstraZeneca,"Idosos com 61 e 62 anos, quilombolas, trabalha...",25000
26,22-abr,Coronavac,"Idosos com 61 e 62 anos, quilombolas, trabalha...",6200
27,16-abr,AstraZeneca,"Idosos de 63 e 64 anos, trabalhadores da saúde...",33250
28,16-abr,Coronavac,"Idosos de 63 e 64 anos, trabalhadores da saúde...",22400
29,09-abr,AstraZeneca,"Idosos de 65 e 66 anos, primeira dose para pro...",22750
30,09-abr,Coronavac,"Idosos de 65 e 66 anos, primeira dose para pro...",18000
31,01-abr,AstraZeneca,"Idosos, Trabalhadores da Saúde",7250
32,01-abr,Coronavac,"Idosos, Trabalhadores da Saúde",74200
33,26-mar,AstraZeneca,Idosos de 68 a 69 anos,17900
34,26-mar,Coronavac,Idosos de 68 a 69 anos,28400
35,20-mar,AstraZeneca,Idosos de 70 a 74 anos,21750
36,20-mar,Coronavac,Idosos de 70 a 74 anos,35600
37,17-mar,Coronavac,Idosos de 75 anos e trabalhadores saúde,41000
38,10-mar,Coronavac,Idosos de 76 a 77 anos,21600
39,03-fev.,Coronavac,Idosos de 78 a 79 anos,26000
40,25-fev.,Coronavac,"Trabalhadores saúde, idosos 80 a 89 anos",9000
41,24-fev.,AstraZeneca,"Trabalhadores saúde, idosos 80 a 89 anos",16500
42,07-fev.,Coronavac,"Trabalhadores saúde, idosos 90 anos mais",23800
43,25-jan.,Coronavac,Trabalhadores saúde,8800
44,24-jan.,AstraZeneca,Trabalhadores saúde,19000
45,18-jan.,Coronavac,"Trabalhadores saúde, idosos institucionalizado...",48880

In [131]:
vacinas_recebidas = pd.read_csv("data_insumos/vacinas_recebidas.csv", skiprows=2, names=['data','vacina','publico_alvo','total'], thousands='.')
vacinas_recebidas['data'] = vacinas_recebidas['data'].str.replace(".", "")
vacinas_recebidas['data'] = vacinas_recebidas['data'].apply(map_mounth)
vacinas_recebidas['data'] = pd.to_datetime(vacinas_recebidas['data'])
vacinas_recebidas['vacina'] = vacinas_recebidas['vacina'].apply(map_vacinas)
vacinas_recebidas.drop(columns=['publico_alvo'], inplace=True)
vacinas_recebidas

         data                      vacina  total
0  2021-06-25             Pfizer/BioNTech  24570
1  2021-06-24                     Janssen  16300
2  2021-06-24          Butantan/CoronaVac  31200
3  2021-06-20  Oxford/AstraZeneca/Fiocruz  68250
4  2021-06-18             Pfizer/BioNTech  25740
5  2021-06-18          Butantan/CoronaVac  16200
6  2021-06-09  Oxford/AstraZeneca/Fiocruz  39250
7  2021-06-07             Pfizer/BioNTech  25740
8  2021-06-04             Pfizer/BioNTech   7020
9  2021-06-02  Oxford/AstraZeneca/Fiocruz  63750
10 2021-05-26             Pfizer/BioNTech   7020
11 2021-05-26  Oxford/AstraZeneca/Fiocruz  62500
12 2021-05-19             Pfizer/BioNTech   7020
13 2021-05-18  Oxford/AstraZeneca/Fiocruz  60100
14 2021-05-14          Butantan/CoronaVac  11200
15 2021-05-13          Butantan/CoronaVac  22600
16 2021-05-13  Oxford/AstraZeneca/Fiocruz  45250
17 2021-05-11             Pfizer/BioNTech  11700
18 2021-05-09          Butantan/CoronaVac  10000
19 2021-05-06  Oxford/AstraZeneca/Fiocruz  43300
20 2021-05-03             Pfizer/BioNTech   4680
21 2021-05-03  Oxford/AstraZeneca/Fiocruz  66500
22 2021-05-02          Butantan/CoronaVac   3280
23 2021-04-29          Butantan/CoronaVac   1000
24 2021-04-29  Oxford/AstraZeneca/Fiocruz  46000
25 2021-04-22  Oxford/AstraZeneca/Fiocruz  25000
26 2021-04-22          Butantan/CoronaVac   6200
27 2021-04-16  Oxford/AstraZeneca/Fiocruz  33250
28 2021-04-16          Butantan/CoronaVac  22400
29 2021-04-09  Oxford/AstraZeneca/Fiocruz  22750
30 2021-04-09          Butantan/CoronaVac  18000
31 2021-04-01  Oxford/AstraZeneca/Fiocruz   7250
32 2021-04-01          Butantan/CoronaVac  74200
33 2021-03-26  Oxford/AstraZeneca/Fiocruz  17900
34 2021-03-26          Butantan/CoronaVac  28400
35 2021-03-20  Oxford/AstraZeneca/Fiocruz  21750
36 2021-03-20          Butantan/CoronaVac  35600
37 2021-03-17          Butantan/CoronaVac  41000
38 2021-03-10          Butantan/CoronaVac  21600
39 2021-02-03          Butantan/CoronaVac  26000
40 2021-02-25          Butantan/CoronaVac   9000
41 2021-02-24  Oxford/AstraZeneca/Fiocruz  16500
42 2021-02-07          Butantan/CoronaVac  23800
43 2021-01-25          Butantan/CoronaVac   8800
44 2021-01-24  Oxford/AstraZeneca/Fiocruz  19000
45 2021-01-18          Butantan/CoronaVac  48880

In [132]:
#vacinas_recebidas['mes'] = pd.DatetimeIndex(vacinas_recebidas['data']).month_name(locale='pt_BR')
vacinas_recebidas['mes_int'] = pd.DatetimeIndex(vacinas_recebidas['data']).month
vacinas_recebidas.sort_values(by=['data'], inplace=True)
vacinas_recebidas

         data                      vacina  total  mes_int
45 2021-01-18          Butantan/CoronaVac  48880        1
44 2021-01-24  Oxford/AstraZeneca/Fiocruz  19000        1
43 2021-01-25          Butantan/CoronaVac   8800        1
39 2021-02-03          Butantan/CoronaVac  26000        2
42 2021-02-07          Butantan/CoronaVac  23800        2
41 2021-02-24  Oxford/AstraZeneca/Fiocruz  16500        2
40 2021-02-25          Butantan/CoronaVac   9000        2
38 2021-03-10          Butantan/CoronaVac  21600        3
37 2021-03-17          Butantan/CoronaVac  41000        3
36 2021-03-20          Butantan/CoronaVac  35600        3
35 2021-03-20  Oxford/AstraZeneca/Fiocruz  21750        3
33 2021-03-26  Oxford/AstraZeneca/Fiocruz  17900        3
34 2021-03-26          Butantan/CoronaVac  28400        3
31 2021-04-01  Oxford/AstraZeneca/Fiocruz   7250        4
32 2021-04-01          Butantan/CoronaVac  74200        4
30 2021-04-09          Butantan/CoronaVac  18000        4
29 2021-04-09  Oxford/AstraZeneca/Fiocruz  22750        4
28 2021-04-16          Butantan/CoronaVac  22400        4
27 2021-04-16  Oxford/AstraZeneca/Fiocruz  33250        4
26 2021-04-22          Butantan/CoronaVac   6200        4
25 2021-04-22  Oxford/AstraZeneca/Fiocruz  25000        4
24 2021-04-29  Oxford/AstraZeneca/Fiocruz  46000        4
23 2021-04-29          Butantan/CoronaVac   1000        4
22 2021-05-02          Butantan/CoronaVac   3280        5
20 2021-05-03             Pfizer/BioNTech   4680        5
21 2021-05-03  Oxford/AstraZeneca/Fiocruz  66500        5
19 2021-05-06  Oxford/AstraZeneca/Fiocruz  43300        5
18 2021-05-09          Butantan/CoronaVac  10000        5
17 2021-05-11             Pfizer/BioNTech  11700        5
16 2021-05-13  Oxford/AstraZeneca/Fiocruz  45250        5
15 2021-05-13          Butantan/CoronaVac  22600        5
14 2021-05-14          Butantan/CoronaVac  11200        5
13 2021-05-18  Oxford/AstraZeneca/Fiocruz  60100        5
12 2021-05-19             Pfizer/BioNTech   7020        5
10 2021-05-26             Pfizer/BioNTech   7020        5
11 2021-05-26  Oxford/AstraZeneca/Fiocruz  62500        5
9  2021-06-02  Oxford/AstraZeneca/Fiocruz  63750        6
8  2021-06-04             Pfizer/BioNTech   7020        6
7  2021-06-07             Pfizer/BioNTech  25740        6
6  2021-06-09  Oxford/AstraZeneca/Fiocruz  39250        6
5  2021-06-18          Butantan/CoronaVac  16200        6
4  2021-06-18             Pfizer/BioNTech  25740        6
3  2021-06-20  Oxford/AstraZeneca/Fiocruz  68250        6
2  2021-06-24          Butantan/CoronaVac  31200        6
1  2021-06-24                     Janssen  16300        6
0  2021-06-25             Pfizer/BioNTech  24570        6

In [133]:
vacinas_group = vacinas_recebidas.groupby(by=['mes_int','vacina'], sort=False).sum()
vacinas_group.reset_index(inplace=True)
vacinas_group

    mes_int                      vacina   total
0         1          Butantan/CoronaVac   57680
1         1  Oxford/AstraZeneca/Fiocruz   19000
2         2          Butantan/CoronaVac   58800
3         2  Oxford/AstraZeneca/Fiocruz   16500
4         3          Butantan/CoronaVac  126600
5         3  Oxford/AstraZeneca/Fiocruz   39650
6         4  Oxford/AstraZeneca/Fiocruz  134250
7         4          Butantan/CoronaVac  121800
8         5          Butantan/CoronaVac   47080
9         5             Pfizer/BioNTech   30420
10        5  Oxford/AstraZeneca/Fiocruz  277650
11        6  Oxford/AstraZeneca/Fiocruz  171250
12        6             Pfizer/BioNTech   83070
13        6          Butantan/CoronaVac   47400
14        6                     Janssen   16300

In [134]:
vacinas_group = vacinas_group.pivot_table(values='total', index=['mes_int'], columns='vacina')
vacinas_group.fillna(0, inplace=True)
vacinas_group.reset_index(inplace=True)
vacinas_group = pd.melt(vacinas_group, id_vars=['mes_int'], value_name='total')
#vacinas_group.dropna(inplace=True)
vacinas_group['total'] = vacinas_group['total'].astype(int)
vacinas_group

    mes_int                      vacina   total
0         1          Butantan/CoronaVac   57680
1         2          Butantan/CoronaVac   58800
2         3          Butantan/CoronaVac  126600
3         4          Butantan/CoronaVac  121800
4         5          Butantan/CoronaVac   47080
5         6          Butantan/CoronaVac   47400
6         1                     Janssen       0
7         2                     Janssen       0
8         3                     Janssen       0
9         4                     Janssen       0
10        5                     Janssen       0
11        6                     Janssen   16300
12        1  Oxford/AstraZeneca/Fiocruz   19000
13        2  Oxford/AstraZeneca/Fiocruz   16500
14        3  Oxford/AstraZeneca/Fiocruz   39650
15        4  Oxford/AstraZeneca/Fiocruz  134250
16        5  Oxford/AstraZeneca/Fiocruz  277650
17        6  Oxford/AstraZeneca/Fiocruz  171250
18        1             Pfizer/BioNTech       0
19        2             Pfizer/BioNTech       0
20        3             Pfizer/BioNTech       0
21        4             Pfizer/BioNTech       0
22        5             Pfizer/BioNTech   30420
23        6             Pfizer/BioNTech   83070

In [135]:
vacinas_group['mes'] = pd.to_datetime(vacinas_group.mes_int, format='%m').dt.month_name(locale='pt_BR')
vacinas_group.sort_values(by=['mes_int','vacina'], inplace=True)
vacinas_group

    mes_int                      vacina   total        mes
0         1          Butantan/CoronaVac   57680    Janeiro
6         1                     Janssen       0    Janeiro
12        1  Oxford/AstraZeneca/Fiocruz   19000    Janeiro
18        1             Pfizer/BioNTech       0    Janeiro
1         2          Butantan/CoronaVac   58800  Fevereiro
7         2                     Janssen       0  Fevereiro
13        2  Oxford/AstraZeneca/Fiocruz   16500  Fevereiro
19        2             Pfizer/BioNTech       0  Fevereiro
2         3          Butantan/CoronaVac  126600      Março
8         3                     Janssen       0      Março
14        3  Oxford/AstraZeneca/Fiocruz   39650      Março
20        3             Pfizer/BioNTech       0      Março
3         4          Butantan/CoronaVac  121800      Abril
9         4                     Janssen       0      Abril
15        4  Oxford/AstraZeneca/Fiocruz  134250      Abril
21        4             Pfizer/BioNTech       0      Abril
4         5          Butantan/CoronaVac   47080       Maio
10        5                     Janssen       0       Maio
16        5  Oxford/AstraZeneca/Fiocruz  277650       Maio
22        5             Pfizer/BioNTech   30420       Maio
5         6          Butantan/CoronaVac   47400      Junho
11        6                     Janssen   16300      Junho
17        6  Oxford/AstraZeneca/Fiocruz  171250      Junho
23        6             Pfizer/BioNTech   83070      Junho

In [136]:
vacinas_group[['mes','mes_int','vacina','total']].to_csv("output/total_vacinas_recebidas.csv", index=False)