In [1]:
import pandas as pd
import glob
from datetime import datetime

In [2]:
files = glob.glob("output/historico/*.csv")

data_list = []

for file in files:
    date_ = file.split("/")[-1].split(".")[0]
    date_ = datetime.strptime(date_, '%Y%m%d').date()
    
    data_ = pd.read_csv(file)
    data_ = data_[['enviadas_dose1','aplicadas_dose1','enviadas_dose2','aplicadas_dose2']]
    data_sum = data_[['enviadas_dose1','aplicadas_dose1','enviadas_dose2','aplicadas_dose2']].sum()
    list_ = [date_,data_sum['enviadas_dose1'],data_sum['aplicadas_dose1'],data_sum['enviadas_dose2'],data_sum['aplicadas_dose2']]
    data_list.append(list_)

columns_names = ['data','enviadas_dose1','aplicadas_dose1','enviadas_dose2','aplicadas_dose2']
data_final = pd.DataFrame(data_list,columns=columns_names)
data_final.sort_values(by=['data'],inplace=True)
data_final

,data,enviadas_dose1,aplicadas_dose1,enviadas_dose2,aplicadas_dose2
1,2021-03-11,92630,85700,35577,31583
0,2021-03-12,92630,89547,35577,31944
2,2021-03-15,101240,93759,35577,32665
4,2021-03-16,101280,96606,35577,33355
3,2021-03-17,101280,97873,35577,34748
5,2021-03-18,101280,98733,35327,34748
8,2021-03-19,107920,102364,35304,34748
9,2021-03-20,107920,103864,35304,34748
10,2021-03-22,122850,108467,35304,34453
11,2021-03-23,122850,117016,63004,35515
6,2021-03-24,128660,123804,63004,37237
7,2021-03-25,184650,134963,65524,39552

In [3]:
data_final.to_csv("output/historico_sergipe.csv",index=False)