# Processamento de Dados da Vacinação Sergipe

In [1]:
import pandas as pd
import numpy as np

In [2]:
populacao_sergipe = 2318822

In [3]:
# Carrega os dados por município e grupo
data_total_municipio = pd.read_csv("output/relatorio_vacina_sergipe.csv")

# Carrega arquivo de histórico por data
data_historico_estado = pd.read_excel("data_general/historico_sergipe.xlsx")

In [4]:
data_total_municipio

,codigo_municipio,municipio,populacao_total,populacao_grupo4_80mais,populacao_grupo5_7079,populacao_grupo6_6069,enviadas_dose1,enviadas_dose2,enviadas_dose_unica,aplicadas_dose1,...,aplicadas_dose_unica_grupo27_5054,aplicadas_dose_unica_grupo28_4549,aplicadas_dose_unica_grupo29_4044,aplicadas_dose_unica_grupo30_gestantes,aplicadas_dose_unica_grupo31_puerperas,aplicadas_dose_unica_grupo32_3539,aplicadas_dose_unica_grupo33_3034,aplicadas_dose_unica_grupo34_lactante,aplicadas_dose_unica_grupo35_2529,aplicadas_dose_unica_grupo36_2024
0,280010,Amparo de São Francisco,2380,51,89,140,1281,746,30,1266,...,1,3,3,0,0,11,3,0,0,0
1,280020,Aquidabã,21681,481,932,1543,9873,5198,210,9714,...,13,19,30,0,0,133,0,0,0,0
2,280030,Aracaju,664908,10149,24138,47854,349975,164234,11665,352034,...,0,0,0,0,0,0,0,0,0,0
3,280040,Arauá,9947,149,348,644,4195,2106,100,4271,...,30,41,5,0,0,0,0,0,0,0
4,280050,Areia Branca,18686,281,548,1047,8212,3499,185,8323,...,11,49,77,0,0,47,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,280720,Siriri,8970,154,316,533,3834,2063,75,3726,...,2,10,37,0,0,17,0,0,0,0
71,280730,Telha,3249,49,100,178,1405,729,45,1403,...,4,19,16,0,0,0,0,0,0,0
72,280740,Tobias Barreto,52530,1046,2188,3513,25170,11033,1160,25837,...,116,359,446,0,0,42,0,0,0,0
73,280750,Tomar do Geru,13535,208,446,760,5635,2742,135,5356,...,0,0,0,0,0,139,0,0,0,0
74,280760,Umbaúba,25550,308,725,1482,10933,4646,240,10787,...,11,17,34,0,0,116,34,0,0,0

In [5]:
data_historico_estado

,data,enviadas_dose1,aplicadas_dose1,enviadas_dose2,aplicadas_dose2,enviadas_dose_unica,aplicadas_dose_unica
0,2021-03-01,54898,45836,28258,24909,0,0
1,2021-03-02,78109,48907,35377,25744,0,0
2,2021-03-03,78109,54155,35377,26816,0,0
3,2021-03-04,78109,61270,35377,27275,0,0
4,2021-03-05,92630,67793,35377,28353,0,0
...,...,...,...,...,...,...,...
133,2021-08-01,1024496,1027920,506175,332586,38700,38942
134,2021-08-02,1082346,1033575,506175,335197,38700,38942
135,2021-08-03,1082346,1052609,506175,339993,38700,38942
136,2021-08-04,1082346,1068169,506175,345464,38700,38942
137,2021-08-05,1082346,1078340,506175,352037,38700,38942

## Geração do Arquivo de Total de Doses Enviadas e Aplicadas por Município

In [6]:
filter_historico = data_total_municipio[['codigo_municipio','municipio','populacao_total','enviadas_dose1','aplicadas_dose1','enviadas_dose2','aplicadas_dose2','enviadas_dose_unica','aplicadas_dose_unica']]

In [7]:
total_sergipe = data_historico_estado.tail(1)

In [8]:
new_line = ['000000','TODO ESTADO',2318822,int(total_sergipe['enviadas_dose1']),int(total_sergipe['aplicadas_dose1']),int(total_sergipe['enviadas_dose2']),int(total_sergipe['aplicadas_dose2']), int(total_sergipe['enviadas_dose_unica']), int(total_sergipe['aplicadas_dose_unica'])]
new_line

['000000',
 'TODO ESTADO',
 2318822,
 1082346,
 1078340,
 506175,
 352037,
 38700,
 38942]

In [9]:
data_total_final = filter_historico.append(pd.Series(new_line, index=filter_historico.columns), ignore_index=True)

In [10]:
data_total_final['cobertura_pop_dose1'] = data_total_final['aplicadas_dose1'] / data_total_final['populacao_total']
data_total_final['cobertura_pop_dose2'] = data_total_final['aplicadas_dose2'] / data_total_final['populacao_total']
data_total_final['cobertura_pop_dose2_dose_unica'] = (data_total_final['aplicadas_dose2'] + data_total_final['aplicadas_dose_unica']) / data_total_final['populacao_total']

In [11]:
data_total_final

,codigo_municipio,municipio,populacao_total,enviadas_dose1,aplicadas_dose1,enviadas_dose2,aplicadas_dose2,enviadas_dose_unica,aplicadas_dose_unica,cobertura_pop_dose1,cobertura_pop_dose2,cobertura_pop_dose2_dose_unica
0,280010,Amparo de São Francisco,2380,1281,1266,746,567,30,29,0.531933,0.238235,0.250420
1,280020,Aquidabã,21681,9873,9714,5198,3195,210,210,0.448042,0.147364,0.157050
2,280030,Aracaju,664908,349975,352034,164234,116070,11665,11635,0.529448,0.174566,0.192064
3,280040,Arauá,9947,4195,4271,2106,1566,100,102,0.429376,0.157434,0.167689
4,280050,Areia Branca,18686,8212,8323,3499,3153,185,198,0.445414,0.168736,0.179332
...,...,...,...,...,...,...,...,...,...,...,...,...
71,280730,Telha,3249,1405,1403,729,582,45,46,0.431825,0.179132,0.193290
72,280740,Tobias Barreto,52530,25170,25837,11033,8047,1160,1187,0.491852,0.153189,0.175785
73,280750,Tomar do Geru,13535,5635,5356,2742,1604,135,139,0.395715,0.118508,0.128777
74,280760,Umbaúba,25550,10933,10787,4646,2985,240,227,0.422192,0.116830,0.125714
75,000000,TODO ESTADO,2318822,1082346,1078340,506175,352037,38700,38942,0.465038,0.151817,0.168611

In [12]:
data_total_final.to_csv("output/data_vacinas_municipio.csv",index=False)

## Geração do Arquivo de Histórico da vacinação do Estado com Média Móvel

In [13]:
data_historico_estado[['data','aplicadas_dose1','aplicadas_dose2','aplicadas_dose_unica']].copy()

          data  aplicadas_dose1  aplicadas_dose2  aplicadas_dose_unica
0   2021-03-01            45836            24909                     0
1   2021-03-02            48907            25744                     0
2   2021-03-03            54155            26816                     0
3   2021-03-04            61270            27275                     0
4   2021-03-05            67793            28353                     0
..         ...              ...              ...                   ...
133 2021-08-01          1027920           332586                 38942
134 2021-08-02          1033575           335197                 38942
135 2021-08-03          1052609           339993                 38942
136 2021-08-04          1068169           345464                 38942
137 2021-08-05          1078340           352037                 38942

[138 rows x 4 columns]

In [14]:
# Calcula a média móvel e o total por dia
total_historico = data_historico_estado[['data','enviadas_dose1','enviadas_dose2','aplicadas_dose1','aplicadas_dose2','enviadas_dose_unica','aplicadas_dose_unica']].copy()
total_historico['diario_dose1'] = total_historico['aplicadas_dose1'].diff()
total_historico['diario_dose2'] = total_historico['aplicadas_dose2'].diff()
total_historico['diario_dose_unica'] = total_historico['aplicadas_dose_unica'].diff()
total_historico['mediamovel_dose1'] = total_historico['diario_dose1'].rolling(window=7).mean()
total_historico['mediamovel_dose2'] = total_historico['diario_dose2'].rolling(window=7).mean()
total_historico['mediamovel_dose_unica'] = total_historico['diario_dose_unica'].rolling(window=7).mean()
total_historico['mediadiaria_dose1'] = total_historico['diario_dose1'].expanding().mean()
total_historico['mediadiaria_dose2'] = total_historico['diario_dose2'].expanding().mean()
total_historico['mediadiaria_dose_unica'] = total_historico['diario_dose_unica'].expanding().mean()
total_historico['percent_uso_dose1'] = total_historico['aplicadas_dose1'] / total_historico['enviadas_dose1']
total_historico['percent_uso_dose2'] = total_historico['aplicadas_dose2'] / total_historico['enviadas_dose2']
total_historico['percent_uso_dose_unica'] = total_historico['aplicadas_dose_unica'] / total_historico['enviadas_dose_unica']
total_historico['percent_populacao_parcialmente'] = total_historico['aplicadas_dose1'] / populacao_sergipe
total_historico['percent_populacao_totalmente'] = (total_historico['aplicadas_dose2'] + total_historico['aplicadas_dose_unica']) / populacao_sergipe
total_historico = total_historico.fillna(0)
total_historico

,data,enviadas_dose1,enviadas_dose2,aplicadas_dose1,aplicadas_dose2,enviadas_dose_unica,aplicadas_dose_unica,diario_dose1,diario_dose2,diario_dose_unica,...,mediamovel_dose2,mediamovel_dose_unica,mediadiaria_dose1,mediadiaria_dose2,mediadiaria_dose_unica,percent_uso_dose1,percent_uso_dose2,percent_uso_dose_unica,percent_populacao_parcialmente,percent_populacao_totalmente
0,2021-03-01,54898,28258,45836,24909,0,0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.834930,0.881485,0.000000,0.019767,0.010742
1,2021-03-02,78109,35377,48907,25744,0,0,3071.0,835.0,0.0,...,0.000000,0.000000,3071.000000,835.000000,0.000000,0.626138,0.727704,0.000000,0.021091,0.011102
2,2021-03-03,78109,35377,54155,26816,0,0,5248.0,1072.0,0.0,...,0.000000,0.000000,4159.500000,953.500000,0.000000,0.693326,0.758007,0.000000,0.023355,0.011564
3,2021-03-04,78109,35377,61270,27275,0,0,7115.0,459.0,0.0,...,0.000000,0.000000,5144.666667,788.666667,0.000000,0.784417,0.770981,0.000000,0.026423,0.011762
4,2021-03-05,92630,35377,67793,28353,0,0,6523.0,1078.0,0.0,...,0.000000,0.000000,5489.250000,861.000000,0.000000,0.731869,0.801453,0.000000,0.029236,0.012227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,2021-08-01,1024496,506175,1027920,332586,38700,38942,2167.0,2402.0,0.0,...,4540.714286,10.714286,7384.090226,2313.360902,292.796992,1.003342,0.657057,1.006253,0.443294,0.160223
134,2021-08-02,1082346,506175,1033575,335197,38700,38942,5655.0,2611.0,0.0,...,4807.000000,10.714286,7371.186567,2315.582090,290.611940,0.954940,0.662216,1.006253,0.445733,0.161349
135,2021-08-03,1082346,506175,1052609,339993,38700,38942,19034.0,4796.0,0.0,...,4540.285714,4.571429,7457.577778,2333.955556,288.459259,0.972525,0.671691,1.006253,0.453941,0.163417
136,2021-08-04,1082346,506175,1068169,345464,38700,38942,15560.0,5471.0,0.0,...,4395.000000,4.285714,7517.154412,2357.022059,286.338235,0.986902,0.682499,1.006253,0.460652,0.165776
137,2021-08-05,1082346,506175,1078340,352037,38700,38942,10171.0,6573.0,0.0,...,4346.571429,3.714286,7536.525547,2387.795620,284.248175,0.996299,0.695485,1.006253,0.465038,0.168611

In [15]:
total_historico.to_csv("output/data_vacinas_historico.csv", index=False)

## Geração do Arquivo de Total por Grupos de Vacinação

In [16]:
grupos = {
    1: 'Trabalhadores da Saúde',
    2: 'Pessoas com 60 anos ou mais e deficientes Institucionalizados',
    3: 'Índio Aldeado',
    4: 'Pessoas com 80 anos e mais',
    5: 'Pessoas de 70 a 79 anos', 
    6: 'Pessoas de 60 a 69 anos',
    7: 'Situação de Rua',
    8: 'Quilombolas',
    9: 'Trabalhadores das forças de segurança',
    10: 'Pessoas com Síndrome de Dowm e Autismo',
    11: 'Outros (População vacinada com resíduos de vacinas ao final do dia)',
    12: 'Puerperas com comorbidade',
    13: 'Gestante com comorbidade',
    14: 'Deficiente Permanente',
    15: 'Comorbidades',
    16: 'Trabalhadores da Educação',
    17: 'Trabalhadores do sistema prisional',
    18: 'Privados de liberdade',
    19: 'Trabalhadores do Transporte aéreo',
    20: 'Trabalhadores da Limpeza Urbana',
    21: 'Trabalhadores do Transporte Coletivo',
    22: 'Caminhoneiros',
    23: 'População de 55 a 59 anos',
    24: 'Trabalhadores da Educação Superior',
    25: 'Trabalhadores da Zona Portuária',
    26: 'Trabalhadores Industriais e Civil',
    27: 'População de 50 a 54 anos',
    28: 'População de 45 a 49 anos',
    29: 'População de 40 a 44 anos',
    30: 'Gestantes',
    31: 'Puerperas',
    32: 'População de 35 a 39 anos',
    33: 'População de 30 a 34 anos',
    34: 'Lactantes',
    35: 'População de 25 a 29 anos',
    36: 'População de 20 a 24 anos'
}

In [17]:
data_total_municipio

,codigo_municipio,municipio,populacao_total,populacao_grupo4_80mais,populacao_grupo5_7079,populacao_grupo6_6069,enviadas_dose1,enviadas_dose2,enviadas_dose_unica,aplicadas_dose1,...,aplicadas_dose_unica_grupo27_5054,aplicadas_dose_unica_grupo28_4549,aplicadas_dose_unica_grupo29_4044,aplicadas_dose_unica_grupo30_gestantes,aplicadas_dose_unica_grupo31_puerperas,aplicadas_dose_unica_grupo32_3539,aplicadas_dose_unica_grupo33_3034,aplicadas_dose_unica_grupo34_lactante,aplicadas_dose_unica_grupo35_2529,aplicadas_dose_unica_grupo36_2024
0,280010,Amparo de São Francisco,2380,51,89,140,1281,746,30,1266,...,1,3,3,0,0,11,3,0,0,0
1,280020,Aquidabã,21681,481,932,1543,9873,5198,210,9714,...,13,19,30,0,0,133,0,0,0,0
2,280030,Aracaju,664908,10149,24138,47854,349975,164234,11665,352034,...,0,0,0,0,0,0,0,0,0,0
3,280040,Arauá,9947,149,348,644,4195,2106,100,4271,...,30,41,5,0,0,0,0,0,0,0
4,280050,Areia Branca,18686,281,548,1047,8212,3499,185,8323,...,11,49,77,0,0,47,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,280720,Siriri,8970,154,316,533,3834,2063,75,3726,...,2,10,37,0,0,17,0,0,0,0
71,280730,Telha,3249,49,100,178,1405,729,45,1403,...,4,19,16,0,0,0,0,0,0,0
72,280740,Tobias Barreto,52530,1046,2188,3513,25170,11033,1160,25837,...,116,359,446,0,0,42,0,0,0,0
73,280750,Tomar do Geru,13535,208,446,760,5635,2742,135,5356,...,0,0,0,0,0,139,0,0,0,0
74,280760,Umbaúba,25550,308,725,1482,10933,4646,240,10787,...,11,17,34,0,0,116,34,0,0,0

In [18]:
# Organizando as colunas como linhas da tabela
data_group = data_total_municipio.drop(columns=['populacao_total',
       'populacao_grupo4_80mais', 'populacao_grupo5_7079',
       'populacao_grupo6_6069', 'enviadas_dose1', 'enviadas_dose2', 'enviadas_dose_unica', 'aplicadas_dose_unica',
       'aplicadas_dose1', 'aplicadas_dose2'])
data_group = pd.melt(data_group, id_vars=['codigo_municipio','municipio'], value_name='total')
data_group

,codigo_municipio,municipio,variable,total
0,280010,Amparo de São Francisco,aplicadas_dose1_grupo1_saude,72
1,280020,Aquidabã,aplicadas_dose1_grupo1_saude,473
2,280030,Aracaju,aplicadas_dose1_grupo1_saude,38876
3,280040,Arauá,aplicadas_dose1_grupo1_saude,172
4,280050,Areia Branca,aplicadas_dose1_grupo1_saude,300
...,...,...,...,...
7195,280720,Siriri,aplicadas_dose_unica_grupo36_2024,0
7196,280730,Telha,aplicadas_dose_unica_grupo36_2024,0
7197,280740,Tobias Barreto,aplicadas_dose_unica_grupo36_2024,0
7198,280750,Tomar do Geru,aplicadas_dose_unica_grupo36_2024,0
7199,280760,Umbaúba,aplicadas_dose_unica_grupo36_2024,0

In [19]:
## Funções Auxiliares para mapear informações em novas colunas

import re
def function_map(row, index, convert=False):
    split_ = row['variable'].split("_")

    if len(split_) == 3:
        if index == 1:
            split_value = -1
        else:
            split_value = 99
    elif len(split_) == 4:
        split_value = split_[index]
        if convert:
            split_value = list(map(int, re.findall(r'\d+',  split_value)))[0]
            
    else:
        if index == 1:
            split_value = split_[1] + "_" + split_[2]
            split_value = -1
        elif index == 2:
            split_value = split_[3]
            if convert:
                split_value = list(map(int, re.findall(r'\d+',  split_value)))[0]
            
    
            
    return split_value

def grupos_map(row): 
    return grupos[row['grupo']]

In [20]:
# Criando novas colunas
data_group['dose'] = data_group.apply(lambda row: function_map(row, 1, True), axis=1)
data_group['grupo'] = data_group.apply(lambda row: function_map(row, 2, True), axis=1)
data_group['nome_grupo'] = data_group.apply(lambda row: grupos_map(row), axis=1)

In [21]:
data_group = data_group.drop(columns=['variable'])
data_group

,codigo_municipio,municipio,total,dose,grupo,nome_grupo
0,280010,Amparo de São Francisco,72,1,1,Trabalhadores da Saúde
1,280020,Aquidabã,473,1,1,Trabalhadores da Saúde
2,280030,Aracaju,38876,1,1,Trabalhadores da Saúde
3,280040,Arauá,172,1,1,Trabalhadores da Saúde
4,280050,Areia Branca,300,1,1,Trabalhadores da Saúde
...,...,...,...,...,...,...
7195,280720,Siriri,0,-1,36,População de 20 a 24 anos
7196,280730,Telha,0,-1,36,População de 20 a 24 anos
7197,280740,Tobias Barreto,0,-1,36,População de 20 a 24 anos
7198,280750,Tomar do Geru,0,-1,36,População de 20 a 24 anos
7199,280760,Umbaúba,0,-1,36,População de 20 a 24 anos

### Agrupando por Dose e Grupos

In [22]:
data_group_estado = data_group[['dose','grupo','nome_grupo','total']].groupby(by=['dose','grupo','nome_grupo']).sum()
data_group_estado.reset_index(inplace=True)
data_group_estado

    dose  grupo                                         nome_grupo  total
0     -1      1                             Trabalhadores da Saúde    657
1     -1      2  Pessoas com 60 anos ou mais e deficientes Inst...     10
2     -1      3                                      Índio Aldeado      0
3     -1      4                         Pessoas com 80 anos e mais      9
4     -1      5                            Pessoas de 70 a 79 anos     33
..   ...    ...                                                ...    ...
91     2     32                          População de 35 a 39 anos    696
92     2     33                          População de 30 a 34 anos    234
93     2     34                                          Lactantes     20
94     2     35                          População de 25 a 29 anos   2750
95     2     36                          População de 20 a 24 anos     37

[96 rows x 4 columns]

In [23]:
data_group_estado.to_csv("output/data_vacinas_grupos_estado.csv", index=False)

In [24]:
data_group_municipio = data_group.groupby(by=['codigo_municipio','municipio','dose','grupo','nome_grupo']).sum()
data_group_municipio.reset_index(inplace=True)
data_group_municipio

,codigo_municipio,municipio,dose,grupo,nome_grupo,total
0,280010,Amparo de São Francisco,-1,1,Trabalhadores da Saúde,5
1,280010,Amparo de São Francisco,-1,2,Pessoas com 60 anos ou mais e deficientes Inst...,0
2,280010,Amparo de São Francisco,-1,3,Índio Aldeado,0
3,280010,Amparo de São Francisco,-1,4,Pessoas com 80 anos e mais,0
4,280010,Amparo de São Francisco,-1,5,Pessoas de 70 a 79 anos,0
...,...,...,...,...,...,...
7195,280760,Umbaúba,2,32,População de 35 a 39 anos,79
7196,280760,Umbaúba,2,33,População de 30 a 34 anos,44
7197,280760,Umbaúba,2,34,Lactantes,0
7198,280760,Umbaúba,2,35,População de 25 a 29 anos,0
7199,280760,Umbaúba,2,36,População de 20 a 24 anos,0

In [25]:
data_group_municipio.to_csv("output/data_vacinas_grupos_municipios.csv", index=False)

In [26]:
data_group_pivot = data_group_estado.pivot_table(values='total', index=['grupo','nome_grupo'], columns='dose')
data_group_pivot.reset_index(inplace=True)
data_group_pivot.rename(columns={-1: 'dose_unica', 1: 'dose_1', 2: 'dose_2'}, inplace=True)
data_group_pivot

dose,grupo,nome_grupo,dose_unica,dose_1,dose_2
0,1,Trabalhadores da Saúde,657,77301,57704
1,2,Pessoas com 60 anos ou mais e deficientes Inst...,10,844,770
2,3,Índio Aldeado,0,278,276
3,4,Pessoas com 80 anos e mais,9,40493,38266
4,5,Pessoas de 70 a 79 anos,33,81801,80254
5,6,Pessoas de 60 a 69 anos,212,144482,125861
6,7,Situação de Rua,42,377,54
7,8,Quilombolas,179,11479,9746
8,9,Trabalhadores das forças de segurança,5,8594,4848
9,14,Deficiente Permanente,79,8743,598
10,15,Comorbidades,572,121681,9556
11,16,Trabalhadores da Educação,122,38471,650
12,17,Trabalhadores do sistema prisional,1,846,64
13,18,Privados de liberdade,0,5254,243
14,19,Trabalhadores do Transporte aéreo,0,452,0
15,20,Trabalhadores da Limpeza Urbana,70,4385,757
16,21,Trabalhadores do Transporte Coletivo,51,4019,27
17,22,Caminhoneiros,87,7101,134
18,23,População de 55 a 59 anos,12583,168213,4805
19,24,Trabalhadores da Educação Superior,11,3213,11
20,25,Trabalhadores da Zona Portuária,1,516,0
21,26,Trabalhadores Industriais e Civil,442,18137,386
22,27,População de 50 a 54 anos,2392,50880,3511
23,28,População de 45 a 49 anos,5453,55061,5186
24,29,População de 40 a 44 anos,10789,57973,5172
25,30,Gestantes,0,10009,1924
26,31,Puerperas,2,1771,304
27,32,População de 35 a 39 anos,4476,59748,696
28,33,População de 30 a 34 anos,674,65250,234
29,34,Lactantes,0,1236,20
30,35,População de 25 a 29 anos,5,27858,2750
31,36,População de 20 a 24 anos,0,1874,37

In [27]:
data_group_pivot.to_csv("output/data_vacinas_grupos_estado2.csv", index=False)

## Vacinas Recebidas

In [28]:
def map_mounth(value):
    
    split_ = value.split("-")
    day = split_[0]
    mounth = split_[1]
    
    map_ = {
        'jan': '01',
        'fev': '02',
        'mar': '03',
        'abr': '04',
        'mai': '05',
        'jun': '06',
        'jul': '07',
        'ago': '08',
        'set': '09',
        'out': '10',
        'nov': '11',
        'dez': '12'
    }
    
    str_return = "2021-" + map_[mounth] + "-" + day
    
    return str_return

In [29]:
def map_vacinas(value):
    
    map_ = {
        'Coronavac': 'Butantan/CoronaVac',
        'AstraZeneca': 'Oxford/AstraZeneca/Fiocruz',
        'Astrazeneca': 'Oxford/AstraZeneca/Fiocruz',
        'Pfizer': 'Pfizer/BioNTech',
        'Janssen': 'Janssen',
        'Coronavac/monodose': 'Butantan/CoronaVac'
    }
    
    return map_[value]

In [30]:
vacinas_recebidas = pd.read_csv("data_insumos/vacinas_recebidas.csv", skiprows=2, names=['data','vacina','publico_alvo','total'], thousands='.')
vacinas_recebidas

,data,vacina,publico_alvo,total
0,05-ago,Pfizer,Destinado para primeira e segunda dose,26910
1,04-ago,Coronavac,Destinado para primeira e segunda dose,14600
2,31-jul,Pfizer,Destinado para primeira e segunda dose,40950
3,31-jul,Coronavac,Destinado para primeira e segunda dose,33800
4,28-jul,Pfizer,Destinado para primeira e segunda dose,23400
...,...,...,...,...
58,24-fev.,AstraZeneca,"Trabalhadores saúde, idosos 80 a 89 anos",16500
59,07-fev.,Coronavac,"Trabalhadores saúde, idosos 90 anos mais",23800
60,25-jan.,Coronavac,Trabalhadores saúde,8800
61,24-jan.,AstraZeneca,Trabalhadores saúde,19000
62,18-jan.,Coronavac,"Trabalhadores saúde, idosos institucionalizado...",48880

In [31]:
vacinas_recebidas = pd.read_csv("data_insumos/vacinas_recebidas.csv", skiprows=2, names=['data','vacina','publico_alvo','total'], thousands='.')
vacinas_recebidas['data'] = vacinas_recebidas['data'].str.replace(".", "")
vacinas_recebidas['data'] = vacinas_recebidas['data'].apply(map_mounth)
vacinas_recebidas['data'] = pd.to_datetime(vacinas_recebidas['data'])
vacinas_recebidas['vacina'] = vacinas_recebidas['vacina'].apply(map_vacinas)
vacinas_recebidas.drop(columns=['publico_alvo'], inplace=True)
vacinas_recebidas

         data                      vacina  total
0  2021-08-05             Pfizer/BioNTech  26910
1  2021-08-04          Butantan/CoronaVac  14600
2  2021-07-31             Pfizer/BioNTech  40950
3  2021-07-31          Butantan/CoronaVac  33800
4  2021-07-28             Pfizer/BioNTech  23400
..        ...                         ...    ...
58 2021-02-24  Oxford/AstraZeneca/Fiocruz  16500
59 2021-02-07          Butantan/CoronaVac  23800
60 2021-01-25          Butantan/CoronaVac   8800
61 2021-01-24  Oxford/AstraZeneca/Fiocruz  19000
62 2021-01-18          Butantan/CoronaVac  48880

[63 rows x 3 columns]

In [32]:
#vacinas_recebidas['mes'] = pd.DatetimeIndex(vacinas_recebidas['data']).month_name(locale='pt_BR')
vacinas_recebidas['mes_int'] = pd.DatetimeIndex(vacinas_recebidas['data']).month
vacinas_recebidas.sort_values(by=['data'], inplace=True)
vacinas_recebidas

         data                      vacina  total  mes_int
62 2021-01-18          Butantan/CoronaVac  48880        1
61 2021-01-24  Oxford/AstraZeneca/Fiocruz  19000        1
60 2021-01-25          Butantan/CoronaVac   8800        1
56 2021-02-03          Butantan/CoronaVac  26000        2
59 2021-02-07          Butantan/CoronaVac  23800        2
..        ...                         ...    ...      ...
4  2021-07-28             Pfizer/BioNTech  23400        7
3  2021-07-31          Butantan/CoronaVac  33800        7
2  2021-07-31             Pfizer/BioNTech  40950        7
1  2021-08-04          Butantan/CoronaVac  14600        8
0  2021-08-05             Pfizer/BioNTech  26910        8

[63 rows x 4 columns]

In [33]:
vacinas_group = vacinas_recebidas.groupby(by=['mes_int','vacina'], sort=False).sum()
vacinas_group.reset_index(inplace=True)
vacinas_group

    mes_int                      vacina   total
0         1          Butantan/CoronaVac   57680
1         1  Oxford/AstraZeneca/Fiocruz   19000
2         2          Butantan/CoronaVac   58800
3         2  Oxford/AstraZeneca/Fiocruz   16500
4         3          Butantan/CoronaVac  126600
5         3  Oxford/AstraZeneca/Fiocruz   39650
6         4          Butantan/CoronaVac  121800
7         4  Oxford/AstraZeneca/Fiocruz  134250
8         5          Butantan/CoronaVac   47080
9         5  Oxford/AstraZeneca/Fiocruz  277650
10        5             Pfizer/BioNTech   30420
11        6  Oxford/AstraZeneca/Fiocruz  223250
12        6             Pfizer/BioNTech   83070
13        6          Butantan/CoronaVac   47400
14        6                     Janssen   16300
15        7             Pfizer/BioNTech  115830
16        7                     Janssen   22400
17        7  Oxford/AstraZeneca/Fiocruz  139550
18        7          Butantan/CoronaVac   83700
19        8          Butantan/CoronaVac   14600
20        8             Pfizer/BioNTech   26910

In [34]:
vacinas_group = vacinas_group.pivot_table(values='total', index=['mes_int'], columns='vacina')
vacinas_group.fillna(0, inplace=True)
vacinas_group.reset_index(inplace=True)
vacinas_group = pd.melt(vacinas_group, id_vars=['mes_int'], value_name='total')
#vacinas_group.dropna(inplace=True)
vacinas_group['total'] = vacinas_group['total'].astype(int)
vacinas_group

    mes_int                      vacina   total
0         1          Butantan/CoronaVac   57680
1         2          Butantan/CoronaVac   58800
2         3          Butantan/CoronaVac  126600
3         4          Butantan/CoronaVac  121800
4         5          Butantan/CoronaVac   47080
5         6          Butantan/CoronaVac   47400
6         7          Butantan/CoronaVac   83700
7         8          Butantan/CoronaVac   14600
8         1                     Janssen       0
9         2                     Janssen       0
10        3                     Janssen       0
11        4                     Janssen       0
12        5                     Janssen       0
13        6                     Janssen   16300
14        7                     Janssen   22400
15        8                     Janssen       0
16        1  Oxford/AstraZeneca/Fiocruz   19000
17        2  Oxford/AstraZeneca/Fiocruz   16500
18        3  Oxford/AstraZeneca/Fiocruz   39650
19        4  Oxford/AstraZeneca/Fiocruz  134250
20        5  Oxford/AstraZeneca/Fiocruz  277650
21        6  Oxford/AstraZeneca/Fiocruz  223250
22        7  Oxford/AstraZeneca/Fiocruz  139550
23        8  Oxford/AstraZeneca/Fiocruz       0
24        1             Pfizer/BioNTech       0
25        2             Pfizer/BioNTech       0
26        3             Pfizer/BioNTech       0
27        4             Pfizer/BioNTech       0
28        5             Pfizer/BioNTech   30420
29        6             Pfizer/BioNTech   83070
30        7             Pfizer/BioNTech  115830
31        8             Pfizer/BioNTech   26910

In [35]:
vacinas_group['mes'] = pd.to_datetime(vacinas_group.mes_int, format='%m').dt.month_name(locale='pt_BR')
vacinas_group.sort_values(by=['mes_int','vacina'], inplace=True)
vacinas_group

    mes_int                      vacina   total        mes
0         1          Butantan/CoronaVac   57680    Janeiro
8         1                     Janssen       0    Janeiro
16        1  Oxford/AstraZeneca/Fiocruz   19000    Janeiro
24        1             Pfizer/BioNTech       0    Janeiro
1         2          Butantan/CoronaVac   58800  Fevereiro
9         2                     Janssen       0  Fevereiro
17        2  Oxford/AstraZeneca/Fiocruz   16500  Fevereiro
25        2             Pfizer/BioNTech       0  Fevereiro
2         3          Butantan/CoronaVac  126600      Março
10        3                     Janssen       0      Março
18        3  Oxford/AstraZeneca/Fiocruz   39650      Março
26        3             Pfizer/BioNTech       0      Março
3         4          Butantan/CoronaVac  121800      Abril
11        4                     Janssen       0      Abril
19        4  Oxford/AstraZeneca/Fiocruz  134250      Abril
27        4             Pfizer/BioNTech       0      Abril
4         5          Butantan/CoronaVac   47080       Maio
12        5                     Janssen       0       Maio
20        5  Oxford/AstraZeneca/Fiocruz  277650       Maio
28        5             Pfizer/BioNTech   30420       Maio
5         6          Butantan/CoronaVac   47400      Junho
13        6                     Janssen   16300      Junho
21        6  Oxford/AstraZeneca/Fiocruz  223250      Junho
29        6             Pfizer/BioNTech   83070      Junho
6         7          Butantan/CoronaVac   83700      Julho
14        7                     Janssen   22400      Julho
22        7  Oxford/AstraZeneca/Fiocruz  139550      Julho
30        7             Pfizer/BioNTech  115830      Julho
7         8          Butantan/CoronaVac   14600     Agosto
15        8                     Janssen       0     Agosto
23        8  Oxford/AstraZeneca/Fiocruz       0     Agosto
31        8             Pfizer/BioNTech   26910     Agosto

In [36]:
vacinas_group[['mes','mes_int','vacina','total']].to_csv("output/total_vacinas_recebidas.csv", index=False)