# Processamento de Dados da Vacinação Sergipe

In [1]:
import pandas as pd
import numpy as np

In [2]:
populacao_sergipe = 2318822

In [3]:
# Carrega os dados por município e grupo
data_total_municipio = pd.read_csv("output/relatorio_vacina_sergipe.csv")

# Carrega arquivo de histórico por data
data_historico_estado = pd.read_excel("data_general/historico_sergipe.xlsx")

In [4]:
data_total_municipio

,codigo_municipio,municipio,populacao_total,populacao_grupo4_80mais,populacao_grupo5_7079,populacao_grupo6_6069,enviadas_dose1,enviadas_dose2,enviadas_dose_unica,aplicadas_dose1,...,aplicadas_dose_unica_grupo28_4549,aplicadas_dose_unica_grupo29_4044,aplicadas_dose_unica_grupo30_gestantes,aplicadas_dose_unica_grupo31_puerperas,aplicadas_dose_unica_grupo32_3539,aplicadas_dose_unica_grupo33_3034,aplicadas_dose_unica_grupo34_lactante,aplicadas_dose_unica_grupo35_2529,aplicadas_dose_unica_grupo36_2024,aplicadas_dose_unica_grupo37_1819
0,280010,Amparo de São Francisco,2380,51,89,140,1405,814,30,1399,...,3,3,0,0,11,3,0,1,0,0
1,280020,Aquidabã,21681,481,932,1543,11559,5682,210,10384,...,19,30,0,0,133,0,0,0,0,0
2,280030,Aracaju,664908,10149,24138,47854,387779,179856,12715,380154,...,0,0,0,0,0,0,0,0,337,0
3,280040,Arauá,9947,149,348,644,4983,2354,100,4645,...,41,5,0,0,0,0,0,0,0,0
4,280050,Areia Branca,18686,281,548,1047,9458,3741,185,10138,...,49,77,0,0,47,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,280720,Siriri,8970,154,316,533,4482,2187,75,4300,...,10,37,0,0,17,0,0,0,0,0
71,280730,Telha,3249,49,100,178,1647,787,45,1646,...,19,16,0,0,0,0,0,0,0,0
72,280740,Tobias Barreto,52530,1046,2188,3513,28462,11813,1160,28647,...,359,446,0,0,42,0,0,0,0,0
73,280750,Tomar do Geru,13535,208,446,760,6869,2890,135,5994,...,0,0,0,0,139,0,0,0,0,0
74,280760,Umbaúba,25550,308,725,1482,12841,5054,240,12604,...,17,34,0,0,116,34,0,0,0,0

In [5]:
data_historico_estado

,data,enviadas_dose1,aplicadas_dose1,enviadas_dose2,aplicadas_dose2,enviadas_dose_unica,aplicadas_dose_unica
0,2021-03-01,54898,45836,28258,24909,0,0
1,2021-03-02,78109,48907,35377,25744,0,0
2,2021-03-03,78109,54155,35377,26816,0,0
3,2021-03-04,78109,61270,35377,27275,0,0
4,2021-03-05,92630,67793,35377,28353,0,0
...,...,...,...,...,...,...,...
143,2021-08-12,1193426,1166461,506175,386871,39750,39419
144,2021-08-13,1241516,1181480,550919,391476,39750,39420
145,2021-08-14,1241516,1189137,550919,392846,39750,39421
146,2021-08-15,1241516,1190502,550919,395962,39750,39421
147,2021-08-16,1241516,1205231,550919,402037,39750,39425

## Geração do Arquivo de Total de Doses Enviadas e Aplicadas por Município

In [6]:
filter_historico = data_total_municipio[['codigo_municipio','municipio','populacao_total','enviadas_dose1','aplicadas_dose1','enviadas_dose2','aplicadas_dose2','enviadas_dose_unica','aplicadas_dose_unica']]

In [7]:
total_sergipe = data_historico_estado.tail(1)

In [8]:
new_line = ['000000','TODO ESTADO',2318822,int(total_sergipe['enviadas_dose1']),int(total_sergipe['aplicadas_dose1']),int(total_sergipe['enviadas_dose2']),int(total_sergipe['aplicadas_dose2']), int(total_sergipe['enviadas_dose_unica']), int(total_sergipe['aplicadas_dose_unica'])]
new_line

['000000',
 'TODO ESTADO',
 2318822,
 1241516,
 1205231,
 550919,
 402037,
 39750,
 39425]

In [9]:
data_total_final = filter_historico.append(pd.Series(new_line, index=filter_historico.columns), ignore_index=True)

In [10]:
data_total_final['cobertura_pop_dose1'] = data_total_final['aplicadas_dose1'] / data_total_final['populacao_total']
data_total_final['cobertura_pop_dose2'] = data_total_final['aplicadas_dose2'] / data_total_final['populacao_total']
data_total_final['cobertura_pop_dose2_dose_unica'] = (data_total_final['aplicadas_dose2'] + data_total_final['aplicadas_dose_unica']) / data_total_final['populacao_total']

In [11]:
data_total_final

,codigo_municipio,municipio,populacao_total,enviadas_dose1,aplicadas_dose1,enviadas_dose2,aplicadas_dose2,enviadas_dose_unica,aplicadas_dose_unica,cobertura_pop_dose1,cobertura_pop_dose2,cobertura_pop_dose2_dose_unica
0,280010,Amparo de São Francisco,2380,1405,1399,814,629,30,30,0.587815,0.264286,0.276891
1,280020,Aquidabã,21681,11559,10384,5682,3488,210,210,0.478945,0.160878,0.170564
2,280030,Aracaju,664908,387779,380154,179856,131889,12715,12037,0.571739,0.198357,0.216460
3,280040,Arauá,9947,4983,4645,2354,2212,100,102,0.466975,0.222379,0.232633
4,280050,Areia Branca,18686,9458,10138,3741,3611,185,198,0.542545,0.193246,0.203842
...,...,...,...,...,...,...,...,...,...,...,...,...
71,280730,Telha,3249,1647,1646,787,716,45,46,0.506617,0.220376,0.234534
72,280740,Tobias Barreto,52530,28462,28647,11813,9349,1160,1187,0.545346,0.177974,0.200571
73,280750,Tomar do Geru,13535,6869,5994,2890,1787,135,139,0.442852,0.132028,0.142298
74,280760,Umbaúba,25550,12841,12604,5054,3636,240,227,0.493307,0.142309,0.151194
75,000000,TODO ESTADO,2318822,1241516,1205231,550919,402037,39750,39425,0.519760,0.173380,0.190382

In [12]:
data_total_final.to_csv("output/data_vacinas_municipio.csv",index=False)

## Geração do Arquivo de Histórico da vacinação do Estado com Média Móvel

In [13]:
data_historico_estado[['data','aplicadas_dose1','aplicadas_dose2','aplicadas_dose_unica']].copy()

          data  aplicadas_dose1  aplicadas_dose2  aplicadas_dose_unica
0   2021-03-01            45836            24909                     0
1   2021-03-02            48907            25744                     0
2   2021-03-03            54155            26816                     0
3   2021-03-04            61270            27275                     0
4   2021-03-05            67793            28353                     0
..         ...              ...              ...                   ...
143 2021-08-12          1166461           386871                 39419
144 2021-08-13          1181480           391476                 39420
145 2021-08-14          1189137           392846                 39421
146 2021-08-15          1190502           395962                 39421
147 2021-08-16          1205231           402037                 39425

[148 rows x 4 columns]

In [15]:
# Calcula a média móvel e o total por dia
total_historico = data_historico_estado[['data','enviadas_dose1','enviadas_dose2','aplicadas_dose1','aplicadas_dose2','enviadas_dose_unica','aplicadas_dose_unica']].copy()
total_historico['diario_dose1'] = total_historico['aplicadas_dose1'].diff()
total_historico['diario_dose2'] = total_historico['aplicadas_dose2'].diff()
total_historico['diario_dose_unica'] = total_historico['aplicadas_dose_unica'].diff()
total_historico['mediamovel_dose1'] = total_historico['diario_dose1'].rolling(window=7).mean()
total_historico['mediamovel_dose2'] = total_historico['diario_dose2'].rolling(window=7).mean()
total_historico['mediamovel_dose_unica'] = total_historico['diario_dose_unica'].rolling(window=7).mean()
total_historico['mediadiaria_dose1'] = total_historico['diario_dose1'].expanding().mean()
total_historico['mediadiaria_dose2'] = total_historico['diario_dose2'].expanding().mean()
total_historico['mediadiaria_dose_unica'] = total_historico['diario_dose_unica'].expanding().mean()
total_historico['percent_uso_dose1'] = total_historico['aplicadas_dose1'] / total_historico['enviadas_dose1']
total_historico['percent_uso_dose2'] = total_historico['aplicadas_dose2'] / total_historico['enviadas_dose2']
total_historico['percent_uso_dose_unica'] = total_historico['aplicadas_dose_unica'] / total_historico['enviadas_dose_unica']
total_historico['percent_populacao_parcialmente'] = total_historico['aplicadas_dose1'] / populacao_sergipe
total_historico['percent_populacao_totalmente'] = (total_historico['aplicadas_dose2'] + total_historico['aplicadas_dose_unica']) / populacao_sergipe
total_historico = total_historico.fillna(0)
total_historico

,data,enviadas_dose1,enviadas_dose2,aplicadas_dose1,aplicadas_dose2,enviadas_dose_unica,aplicadas_dose_unica,diario_dose1,diario_dose2,diario_dose_unica,...,mediamovel_dose2,mediamovel_dose_unica,mediadiaria_dose1,mediadiaria_dose2,mediadiaria_dose_unica,percent_uso_dose1,percent_uso_dose2,percent_uso_dose_unica,percent_populacao_parcialmente,percent_populacao_totalmente
0,2021-03-01,54898,28258,45836,24909,0,0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.834930,0.881485,0.000000,0.019767,0.010742
1,2021-03-02,78109,35377,48907,25744,0,0,3071.0,835.0,0.0,...,0.000000,0.000000,3071.000000,835.000000,0.000000,0.626138,0.727704,0.000000,0.021091,0.011102
2,2021-03-03,78109,35377,54155,26816,0,0,5248.0,1072.0,0.0,...,0.000000,0.000000,4159.500000,953.500000,0.000000,0.693326,0.758007,0.000000,0.023355,0.011564
3,2021-03-04,78109,35377,61270,27275,0,0,7115.0,459.0,0.0,...,0.000000,0.000000,5144.666667,788.666667,0.000000,0.784417,0.770981,0.000000,0.026423,0.011762
4,2021-03-05,92630,35377,67793,28353,0,0,6523.0,1078.0,0.0,...,0.000000,0.000000,5489.250000,861.000000,0.000000,0.731869,0.801453,0.000000,0.029236,0.012227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,2021-08-12,1193426,506175,1166461,386871,39750,39419,21646.0,6832.0,12.0,...,5915.285714,68.142857,7836.538462,2531.202797,275.657343,0.977405,0.764303,0.991673,0.503040,0.183839
144,2021-08-13,1241516,550919,1181480,391476,39750,39420,15019.0,4605.0,1.0,...,5634.142857,68.285714,7886.416667,2545.604167,273.750000,0.951643,0.710587,0.991698,0.509517,0.185825
145,2021-08-14,1241516,550919,1189137,392846,39750,39421,7657.0,1370.0,1.0,...,5096.285714,68.428571,7884.834483,2537.496552,271.868966,0.957810,0.713074,0.991723,0.512819,0.186417
146,2021-08-15,1241516,550919,1190502,395962,39750,39421,1365.0,3116.0,0.0,...,5222.714286,59.428571,7840.178082,2541.458904,270.006849,0.958910,0.718730,0.991723,0.513408,0.187760
147,2021-08-16,1241516,550919,1205231,402037,39750,39425,14729.0,6075.0,4.0,...,5285.714286,60.000000,7887.040816,2565.496599,268.197279,0.970774,0.729757,0.991824,0.519760,0.190382

In [16]:
total_historico.to_csv("output/data_vacinas_historico.csv", index=False)

## Geração do Arquivo de Total por Grupos de Vacinação

In [17]:
grupos = {
    1: 'Trabalhadores da Saúde',
    2: 'Pessoas com 60 anos ou mais e deficientes Institucionalizados',
    3: 'Índio Aldeado',
    4: 'Pessoas com 80 anos e mais',
    5: 'Pessoas de 70 a 79 anos', 
    6: 'Pessoas de 60 a 69 anos',
    7: 'Situação de Rua',
    8: 'Quilombolas',
    9: 'Trabalhadores das forças de segurança',
    10: 'Pessoas com Síndrome de Dowm e Autismo',
    11: 'Outros (População vacinada com resíduos de vacinas ao final do dia)',
    12: 'Puerperas com comorbidade',
    13: 'Gestante com comorbidade',
    14: 'Deficiente Permanente',
    15: 'Comorbidades',
    16: 'Trabalhadores da Educação',
    17: 'Trabalhadores do sistema prisional',
    18: 'Privados de liberdade',
    19: 'Trabalhadores do Transporte aéreo',
    20: 'Trabalhadores da Limpeza Urbana',
    21: 'Trabalhadores do Transporte Coletivo',
    22: 'Caminhoneiros',
    23: 'População de 55 a 59 anos',
    24: 'Trabalhadores da Educação Superior',
    25: 'Trabalhadores da Zona Portuária',
    26: 'Trabalhadores Industriais e Civil',
    27: 'População de 50 a 54 anos',
    28: 'População de 45 a 49 anos',
    29: 'População de 40 a 44 anos',
    30: 'Gestantes',
    31: 'Puerperas',
    32: 'População de 35 a 39 anos',
    33: 'População de 30 a 34 anos',
    34: 'Lactantes',
    35: 'População de 25 a 29 anos',
    36: 'População de 20 a 24 anos',
    37: 'População de 18 e 19 anos'
}

In [18]:
data_total_municipio

,codigo_municipio,municipio,populacao_total,populacao_grupo4_80mais,populacao_grupo5_7079,populacao_grupo6_6069,enviadas_dose1,enviadas_dose2,enviadas_dose_unica,aplicadas_dose1,...,aplicadas_dose_unica_grupo28_4549,aplicadas_dose_unica_grupo29_4044,aplicadas_dose_unica_grupo30_gestantes,aplicadas_dose_unica_grupo31_puerperas,aplicadas_dose_unica_grupo32_3539,aplicadas_dose_unica_grupo33_3034,aplicadas_dose_unica_grupo34_lactante,aplicadas_dose_unica_grupo35_2529,aplicadas_dose_unica_grupo36_2024,aplicadas_dose_unica_grupo37_1819
0,280010,Amparo de São Francisco,2380,51,89,140,1405,814,30,1399,...,3,3,0,0,11,3,0,1,0,0
1,280020,Aquidabã,21681,481,932,1543,11559,5682,210,10384,...,19,30,0,0,133,0,0,0,0,0
2,280030,Aracaju,664908,10149,24138,47854,387779,179856,12715,380154,...,0,0,0,0,0,0,0,0,337,0
3,280040,Arauá,9947,149,348,644,4983,2354,100,4645,...,41,5,0,0,0,0,0,0,0,0
4,280050,Areia Branca,18686,281,548,1047,9458,3741,185,10138,...,49,77,0,0,47,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,280720,Siriri,8970,154,316,533,4482,2187,75,4300,...,10,37,0,0,17,0,0,0,0,0
71,280730,Telha,3249,49,100,178,1647,787,45,1646,...,19,16,0,0,0,0,0,0,0,0
72,280740,Tobias Barreto,52530,1046,2188,3513,28462,11813,1160,28647,...,359,446,0,0,42,0,0,0,0,0
73,280750,Tomar do Geru,13535,208,446,760,6869,2890,135,5994,...,0,0,0,0,139,0,0,0,0,0
74,280760,Umbaúba,25550,308,725,1482,12841,5054,240,12604,...,17,34,0,0,116,34,0,0,0,0

In [19]:
# Organizando as colunas como linhas da tabela
data_group = data_total_municipio.drop(columns=['populacao_total',
       'populacao_grupo4_80mais', 'populacao_grupo5_7079',
       'populacao_grupo6_6069', 'enviadas_dose1', 'enviadas_dose2', 'enviadas_dose_unica', 'aplicadas_dose_unica',
       'aplicadas_dose1', 'aplicadas_dose2'])
data_group = pd.melt(data_group, id_vars=['codigo_municipio','municipio'], value_name='total')
data_group

,codigo_municipio,municipio,variable,total
0,280010,Amparo de São Francisco,aplicadas_dose1_grupo1_saude,72
1,280020,Aquidabã,aplicadas_dose1_grupo1_saude,473
2,280030,Aracaju,aplicadas_dose1_grupo1_saude,38966
3,280040,Arauá,aplicadas_dose1_grupo1_saude,174
4,280050,Areia Branca,aplicadas_dose1_grupo1_saude,300
...,...,...,...,...
7420,280720,Siriri,aplicadas_dose_unica_grupo37_1819,0
7421,280730,Telha,aplicadas_dose_unica_grupo37_1819,0
7422,280740,Tobias Barreto,aplicadas_dose_unica_grupo37_1819,0
7423,280750,Tomar do Geru,aplicadas_dose_unica_grupo37_1819,0
7424,280760,Umbaúba,aplicadas_dose_unica_grupo37_1819,0

In [20]:
## Funções Auxiliares para mapear informações em novas colunas

import re
def function_map(row, index, convert=False):
    split_ = row['variable'].split("_")

    if len(split_) == 3:
        if index == 1:
            split_value = -1
        else:
            split_value = 99
    elif len(split_) == 4:
        split_value = split_[index]
        if convert:
            split_value = list(map(int, re.findall(r'\d+',  split_value)))[0]
            
    else:
        if index == 1:
            split_value = split_[1] + "_" + split_[2]
            split_value = -1
        elif index == 2:
            split_value = split_[3]
            if convert:
                split_value = list(map(int, re.findall(r'\d+',  split_value)))[0]
            
    
            
    return split_value

def grupos_map(row): 
    return grupos[row['grupo']]

In [21]:
# Criando novas colunas
data_group['dose'] = data_group.apply(lambda row: function_map(row, 1, True), axis=1)
data_group['grupo'] = data_group.apply(lambda row: function_map(row, 2, True), axis=1)
data_group['nome_grupo'] = data_group.apply(lambda row: grupos_map(row), axis=1)

In [22]:
data_group = data_group.drop(columns=['variable'])
data_group

,codigo_municipio,municipio,total,dose,grupo,nome_grupo
0,280010,Amparo de São Francisco,72,1,1,Trabalhadores da Saúde
1,280020,Aquidabã,473,1,1,Trabalhadores da Saúde
2,280030,Aracaju,38966,1,1,Trabalhadores da Saúde
3,280040,Arauá,174,1,1,Trabalhadores da Saúde
4,280050,Areia Branca,300,1,1,Trabalhadores da Saúde
...,...,...,...,...,...,...
7420,280720,Siriri,0,-1,37,População de 18 e 19 anos
7421,280730,Telha,0,-1,37,População de 18 e 19 anos
7422,280740,Tobias Barreto,0,-1,37,População de 18 e 19 anos
7423,280750,Tomar do Geru,0,-1,37,População de 18 e 19 anos
7424,280760,Umbaúba,0,-1,37,População de 18 e 19 anos

### Agrupando por Dose e Grupos

In [23]:
data_group_estado = data_group[['dose','grupo','nome_grupo','total']].groupby(by=['dose','grupo','nome_grupo']).sum()
data_group_estado.reset_index(inplace=True)
data_group_estado

    dose  grupo                                         nome_grupo  total
0     -1      1                             Trabalhadores da Saúde    664
1     -1      2  Pessoas com 60 anos ou mais e deficientes Inst...     12
2     -1      3                                      Índio Aldeado      0
3     -1      4                         Pessoas com 80 anos e mais      9
4     -1      5                            Pessoas de 70 a 79 anos     33
..   ...    ...                                                ...    ...
94     2     33                          População de 30 a 34 anos    625
95     2     34                                          Lactantes     75
96     2     35                          População de 25 a 29 anos   2870
97     2     36                          População de 20 a 24 anos     86
98     2     37                          População de 18 e 19 anos     16

[99 rows x 4 columns]

In [24]:
data_group_estado.to_csv("output/data_vacinas_grupos_estado.csv", index=False)

In [25]:
data_group_municipio = data_group.groupby(by=['codigo_municipio','municipio','dose','grupo','nome_grupo']).sum()
data_group_municipio.reset_index(inplace=True)
data_group_municipio

,codigo_municipio,municipio,dose,grupo,nome_grupo,total
0,280010,Amparo de São Francisco,-1,1,Trabalhadores da Saúde,5
1,280010,Amparo de São Francisco,-1,2,Pessoas com 60 anos ou mais e deficientes Inst...,0
2,280010,Amparo de São Francisco,-1,3,Índio Aldeado,0
3,280010,Amparo de São Francisco,-1,4,Pessoas com 80 anos e mais,0
4,280010,Amparo de São Francisco,-1,5,Pessoas de 70 a 79 anos,0
...,...,...,...,...,...,...
7420,280760,Umbaúba,2,33,População de 30 a 34 anos,69
7421,280760,Umbaúba,2,34,Lactantes,0
7422,280760,Umbaúba,2,35,População de 25 a 29 anos,0
7423,280760,Umbaúba,2,36,População de 20 a 24 anos,0
7424,280760,Umbaúba,2,37,População de 18 e 19 anos,0

In [26]:
data_group_municipio.to_csv("output/data_vacinas_grupos_municipios.csv", index=False)

In [27]:
data_group_pivot = data_group_estado.pivot_table(values='total', index=['grupo','nome_grupo'], columns='dose')
data_group_pivot.reset_index(inplace=True)
data_group_pivot.rename(columns={-1: 'dose_unica', 1: 'dose_1', 2: 'dose_2'}, inplace=True)
data_group_pivot

dose,grupo,nome_grupo,dose_unica,dose_1,dose_2
0,1,Trabalhadores da Saúde,664,77468,60756
1,2,Pessoas com 60 anos ou mais e deficientes Inst...,12,870,792
2,3,Índio Aldeado,0,278,277
3,4,Pessoas com 80 anos e mais,9,40517,38381
4,5,Pessoas de 70 a 79 anos,33,81892,80515
5,6,Pessoas de 60 a 69 anos,216,144871,130702
6,7,Situação de Rua,47,408,54
7,8,Quilombolas,179,11518,9995
8,9,Trabalhadores das forças de segurança,5,8613,5598
9,14,Deficiente Permanente,79,8817,1492
10,15,Comorbidades,578,122069,25464
11,16,Trabalhadores da Educação,126,38549,3049
12,17,Trabalhadores do sistema prisional,1,846,92
13,18,Privados de liberdade,0,5254,246
14,19,Trabalhadores do Transporte aéreo,1,452,0
15,20,Trabalhadores da Limpeza Urbana,70,4386,821
16,21,Trabalhadores do Transporte Coletivo,51,4031,51
17,22,Caminhoneiros,89,7108,186
18,23,População de 55 a 59 anos,12585,176992,14959
19,24,Trabalhadores da Educação Superior,11,3236,95
20,25,Trabalhadores da Zona Portuária,1,516,2
21,26,Trabalhadores Industriais e Civil,483,18301,457
22,27,População de 50 a 54 anos,2393,52108,6441
23,28,População de 45 a 49 anos,5482,57059,6413
24,29,População de 40 a 44 anos,10793,61632,7149
25,30,Gestantes,0,10888,2233
26,31,Puerperas,2,1868,362
27,32,População de 35 a 39 anos,4481,68126,1858
28,33,População de 30 a 34 anos,676,88011,625
29,34,Lactantes,0,1615,75
30,35,População de 25 a 29 anos,14,70619,2870
31,36,População de 20 a 24 anos,340,33564,86
32,37,População de 18 e 19 anos,4,2749,16

In [28]:
data_group_pivot.to_csv("output/data_vacinas_grupos_estado2.csv", index=False)

## Vacinas Recebidas

In [29]:
def map_mounth(value):
    
    split_ = value.split("-")
    day = split_[0]
    mounth = split_[1]
    
    map_ = {
        'jan': '01',
        'fev': '02',
        'mar': '03',
        'abr': '04',
        'mai': '05',
        'jun': '06',
        'jul': '07',
        'ago': '08',
        'set': '09',
        'out': '10',
        'nov': '11',
        'dez': '12'
    }
    
    str_return = "2021-" + map_[mounth] + "-" + day
    
    return str_return

In [30]:
def map_vacinas(value):
    
    map_ = {
        'Coronavac': 'Butantan/CoronaVac',
        'AstraZeneca': 'Oxford/AstraZeneca/Fiocruz',
        'Astrazeneca': 'Oxford/AstraZeneca/Fiocruz',
        'Pfizer': 'Pfizer/BioNTech',
        'Janssen': 'Janssen',
        'Coronavac/monodose': 'Butantan/CoronaVac'
    }
    
    return map_[value]

In [31]:
vacinas_recebidas = pd.read_csv("data_insumos/vacinas_recebidas.csv", skiprows=2, names=['data','vacina','publico_alvo','total'], thousands='.')
vacinas_recebidas

,data,vacina,publico_alvo,total
0,16-ago,Astrazeneca,Destinado para segunda dose,32750
1,16-ago,Pfizer,Destinado para primeira e segunda dose,90090
2,14-ago,Pfizer,Destinado para primeira dose,42120
3,14-ago,Coronavac,Destinado para primeira e segunda dose,25350
4,13-ago,Pfizer,Destinado para primeira dose,21060
...,...,...,...,...
72,24-fev.,AstraZeneca,"Trabalhadores saúde, idosos 80 a 89 anos",16500
73,07-fev.,Coronavac,"Trabalhadores saúde, idosos 90 anos mais",23800
74,25-jan.,Coronavac,Trabalhadores saúde,8800
75,24-jan.,AstraZeneca,Trabalhadores saúde,19000
76,18-jan.,Coronavac,"Trabalhadores saúde, idosos institucionalizado...",48880

In [32]:
vacinas_recebidas = pd.read_csv("data_insumos/vacinas_recebidas.csv", skiprows=2, names=['data','vacina','publico_alvo','total'], thousands='.')
vacinas_recebidas['data'] = vacinas_recebidas['data'].str.replace(".", "")
vacinas_recebidas['data'] = vacinas_recebidas['data'].apply(map_mounth)
vacinas_recebidas['data'] = pd.to_datetime(vacinas_recebidas['data'])
vacinas_recebidas['vacina'] = vacinas_recebidas['vacina'].apply(map_vacinas)
vacinas_recebidas.drop(columns=['publico_alvo'], inplace=True)
vacinas_recebidas

         data                      vacina  total
0  2021-08-16  Oxford/AstraZeneca/Fiocruz  32750
1  2021-08-16             Pfizer/BioNTech  90090
2  2021-08-14             Pfizer/BioNTech  42120
3  2021-08-14          Butantan/CoronaVac  25350
4  2021-08-13             Pfizer/BioNTech  21060
..        ...                         ...    ...
72 2021-02-24  Oxford/AstraZeneca/Fiocruz  16500
73 2021-02-07          Butantan/CoronaVac  23800
74 2021-01-25          Butantan/CoronaVac   8800
75 2021-01-24  Oxford/AstraZeneca/Fiocruz  19000
76 2021-01-18          Butantan/CoronaVac  48880

[77 rows x 3 columns]

In [33]:
#vacinas_recebidas['mes'] = pd.DatetimeIndex(vacinas_recebidas['data']).month_name(locale='pt_BR')
vacinas_recebidas['mes_int'] = pd.DatetimeIndex(vacinas_recebidas['data']).month
vacinas_recebidas.sort_values(by=['data'], inplace=True)
vacinas_recebidas

         data                      vacina  total  mes_int
76 2021-01-18          Butantan/CoronaVac  48880        1
75 2021-01-24  Oxford/AstraZeneca/Fiocruz  19000        1
74 2021-01-25          Butantan/CoronaVac   8800        1
70 2021-02-03          Butantan/CoronaVac  26000        2
73 2021-02-07          Butantan/CoronaVac  23800        2
..        ...                         ...    ...      ...
4  2021-08-13             Pfizer/BioNTech  21060        8
3  2021-08-14          Butantan/CoronaVac  25350        8
2  2021-08-14             Pfizer/BioNTech  42120        8
1  2021-08-16             Pfizer/BioNTech  90090        8
0  2021-08-16  Oxford/AstraZeneca/Fiocruz  32750        8

[77 rows x 4 columns]

In [34]:
vacinas_group = vacinas_recebidas.groupby(by=['mes_int','vacina'], sort=False).sum()
vacinas_group.reset_index(inplace=True)
vacinas_group

    mes_int                      vacina   total
0         1          Butantan/CoronaVac   57680
1         1  Oxford/AstraZeneca/Fiocruz   19000
2         2          Butantan/CoronaVac   58800
3         2  Oxford/AstraZeneca/Fiocruz   16500
4         3          Butantan/CoronaVac  126600
5         3  Oxford/AstraZeneca/Fiocruz   39650
6         4          Butantan/CoronaVac  121800
7         4  Oxford/AstraZeneca/Fiocruz  134250
8         5          Butantan/CoronaVac   47080
9         5  Oxford/AstraZeneca/Fiocruz  277650
10        5             Pfizer/BioNTech   30420
11        6  Oxford/AstraZeneca/Fiocruz  223250
12        6             Pfizer/BioNTech   83070
13        6          Butantan/CoronaVac   47400
14        6                     Janssen   16300
15        7             Pfizer/BioNTech  115830
16        7  Oxford/AstraZeneca/Fiocruz  139550
17        7                     Janssen   22400
18        7          Butantan/CoronaVac   83700
19        8          Butantan/CoronaVac   90430
20        8             Pfizer/BioNTech  271440
21        8                     Janssen    1050
22        8  Oxford/AstraZeneca/Fiocruz   93500

In [35]:
vacinas_group = vacinas_group.pivot_table(values='total', index=['mes_int'], columns='vacina')
vacinas_group.fillna(0, inplace=True)
vacinas_group.reset_index(inplace=True)
vacinas_group = pd.melt(vacinas_group, id_vars=['mes_int'], value_name='total')
#vacinas_group.dropna(inplace=True)
vacinas_group['total'] = vacinas_group['total'].astype(int)
vacinas_group

    mes_int                      vacina   total
0         1          Butantan/CoronaVac   57680
1         2          Butantan/CoronaVac   58800
2         3          Butantan/CoronaVac  126600
3         4          Butantan/CoronaVac  121800
4         5          Butantan/CoronaVac   47080
5         6          Butantan/CoronaVac   47400
6         7          Butantan/CoronaVac   83700
7         8          Butantan/CoronaVac   90430
8         1                     Janssen       0
9         2                     Janssen       0
10        3                     Janssen       0
11        4                     Janssen       0
12        5                     Janssen       0
13        6                     Janssen   16300
14        7                     Janssen   22400
15        8                     Janssen    1050
16        1  Oxford/AstraZeneca/Fiocruz   19000
17        2  Oxford/AstraZeneca/Fiocruz   16500
18        3  Oxford/AstraZeneca/Fiocruz   39650
19        4  Oxford/AstraZeneca/Fiocruz  134250
20        5  Oxford/AstraZeneca/Fiocruz  277650
21        6  Oxford/AstraZeneca/Fiocruz  223250
22        7  Oxford/AstraZeneca/Fiocruz  139550
23        8  Oxford/AstraZeneca/Fiocruz   93500
24        1             Pfizer/BioNTech       0
25        2             Pfizer/BioNTech       0
26        3             Pfizer/BioNTech       0
27        4             Pfizer/BioNTech       0
28        5             Pfizer/BioNTech   30420
29        6             Pfizer/BioNTech   83070
30        7             Pfizer/BioNTech  115830
31        8             Pfizer/BioNTech  271440

In [36]:
vacinas_group['mes'] = pd.to_datetime(vacinas_group.mes_int, format='%m').dt.month_name(locale='pt_BR')
vacinas_group.sort_values(by=['mes_int','vacina'], inplace=True)
vacinas_group

    mes_int                      vacina   total        mes
0         1          Butantan/CoronaVac   57680    Janeiro
8         1                     Janssen       0    Janeiro
16        1  Oxford/AstraZeneca/Fiocruz   19000    Janeiro
24        1             Pfizer/BioNTech       0    Janeiro
1         2          Butantan/CoronaVac   58800  Fevereiro
9         2                     Janssen       0  Fevereiro
17        2  Oxford/AstraZeneca/Fiocruz   16500  Fevereiro
25        2             Pfizer/BioNTech       0  Fevereiro
2         3          Butantan/CoronaVac  126600      Março
10        3                     Janssen       0      Março
18        3  Oxford/AstraZeneca/Fiocruz   39650      Março
26        3             Pfizer/BioNTech       0      Março
3         4          Butantan/CoronaVac  121800      Abril
11        4                     Janssen       0      Abril
19        4  Oxford/AstraZeneca/Fiocruz  134250      Abril
27        4             Pfizer/BioNTech       0      Abril
4         5          Butantan/CoronaVac   47080       Maio
12        5                     Janssen       0       Maio
20        5  Oxford/AstraZeneca/Fiocruz  277650       Maio
28        5             Pfizer/BioNTech   30420       Maio
5         6          Butantan/CoronaVac   47400      Junho
13        6                     Janssen   16300      Junho
21        6  Oxford/AstraZeneca/Fiocruz  223250      Junho
29        6             Pfizer/BioNTech   83070      Junho
6         7          Butantan/CoronaVac   83700      Julho
14        7                     Janssen   22400      Julho
22        7  Oxford/AstraZeneca/Fiocruz  139550      Julho
30        7             Pfizer/BioNTech  115830      Julho
7         8          Butantan/CoronaVac   90430     Agosto
15        8                     Janssen    1050     Agosto
23        8  Oxford/AstraZeneca/Fiocruz   93500     Agosto
31        8             Pfizer/BioNTech  271440     Agosto

In [37]:
vacinas_group[['mes','mes_int','vacina','total']].to_csv("output/total_vacinas_recebidas.csv", index=False)