# Processamento de Dados da Vacinação Sergipe

In [30]:
import pandas as pd

In [31]:
# Carrega os dados por município e grupo
data_total_municipio = pd.read_csv("output/relatorio_vacina_sergipe.csv")

# Carrega arquivo de histórico por data
data_historico_estado = pd.read_excel("output/historico_sergipe.xlsx")

In [32]:
data_total_municipio

,codigo_municipio,municipio,populacao_total,populacao_grupo4_80mais,populacao_grupo5_7079,populacao_grupo6_6069,enviadas_dose1,enviadas_dose2,aplicadas_dose1,aplicadas_dose2,...,aplicadas_dose2_grupo20_limpezaurbana,aplicadas_dose2_grupo21_transportecoletivo,aplicadas_dose2_grupo22_caminhoneiros,aplicadas_dose2_grupo23_5559,aplicadas_dose2_grupo24_educacaosuperior,aplicadas_dose2_grupo25_zonaportuaria,aplicadas_dose2_grupo26_industriaiscivil,aplicadas_dose2_grupo27_5054,aplicadas_dose2_grupo28_4549,aplicadas_dose2_grupo29_4044
0,280010,Amparo de São Francisco,2380,51,89,140,950,306,824,238,...,0,0,0,0,0,0,0,0,0,0
1,280020,Aquidabã,21681,481,932,1543,6808,2964,5868,2376,...,0,0,0,0,0,0,0,0,0,0
2,280030,Aracaju,664908,10149,24138,47854,233969,93970,197743,66303,...,0,0,0,0,0,0,0,0,0,0
3,280040,Arauá,9947,149,348,644,2715,1082,2471,1077,...,0,0,0,0,0,0,0,0,0,0
4,280050,Areia Branca,18686,281,548,1047,5400,1701,5223,1519,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,280720,Siriri,8970,154,316,533,2450,973,2294,915,...,0,0,0,0,0,0,0,0,0,0
71,280730,Telha,3249,49,100,178,882,369,900,367,...,0,0,0,0,0,0,0,0,0,0
72,280740,Tobias Barreto,52530,1046,2188,3513,16781,6538,15594,5952,...,0,0,0,0,0,0,0,0,0,0
73,280750,Tomar do Geru,13535,208,446,760,3309,1336,2603,1130,...,0,0,0,0,0,0,0,0,0,0
74,280760,Umbaúba,25550,308,725,1482,6806,2238,6813,2116,...,0,0,0,0,0,0,0,0,0,0

In [33]:
data_historico_estado

,data,enviadas_dose1,aplicadas_dose1,enviadas_dose2,aplicadas_dose2
0,2021-03-01,54898,45836,28258,24909
1,2021-03-02,78109,48907,35377,25744
2,2021-03-03,78109,54155,35377,26816
3,2021-03-04,78109,61270,35377,27275
4,2021-03-05,92630,67793,35377,28353
...,...,...,...,...,...
93,2021-06-12,700813,572311,270812,210437
94,2021-06-13,700813,584506,270812,210694
95,2021-06-14,701013,591572,270813,210993
96,2021-06-15,701157,622954,270813,216942
97,2021-06-16,701157,634466,270813,217837

## Geração do Arquivo de Total de Doses Enviadas e Aplicadas por Município

In [34]:
filter_historico = data_total_municipio[['codigo_municipio','municipio','populacao_total','enviadas_dose1','aplicadas_dose1','enviadas_dose2','aplicadas_dose2']]

In [35]:
total_sergipe = data_historico_estado.tail(1)

In [36]:
new_line = ['000000','TODO ESTADO',2318822,int(total_sergipe['enviadas_dose1']),int(total_sergipe['aplicadas_dose1']),int(total_sergipe['enviadas_dose2']),int(total_sergipe['aplicadas_dose2'])]
new_line

['000000', 'TODO ESTADO', 2318822, 701157, 634466, 270813, 217837]

In [37]:
data_total_final = filter_historico.append(pd.Series(new_line, index=filter_historico.columns), ignore_index=True)

In [38]:
data_total_final['cobertura_pop_dose1'] = data_total_final['aplicadas_dose1'] / data_total_final['populacao_total']
data_total_final['cobertura_pop_dose2'] = data_total_final['aplicadas_dose2'] / data_total_final['populacao_total']

In [39]:
data_total_final

,codigo_municipio,municipio,populacao_total,enviadas_dose1,aplicadas_dose1,enviadas_dose2,aplicadas_dose2,cobertura_pop_dose1,cobertura_pop_dose2
0,280010,Amparo de São Francisco,2380,950,824,306,238,0.346218,0.100000
1,280020,Aquidabã,21681,6808,5868,2964,2376,0.270652,0.109589
2,280030,Aracaju,664908,233969,197743,93970,66303,0.297399,0.099718
3,280040,Arauá,9947,2715,2471,1082,1077,0.248417,0.108274
4,280050,Areia Branca,18686,5400,5223,1701,1519,0.279514,0.081291
...,...,...,...,...,...,...,...,...,...
71,280730,Telha,3249,882,900,369,367,0.277008,0.112958
72,280740,Tobias Barreto,52530,16781,15594,6538,5952,0.296859,0.113307
73,280750,Tomar do Geru,13535,3309,2603,1336,1130,0.192316,0.083487
74,280760,Umbaúba,25550,6806,6813,2238,2116,0.266654,0.082818
75,000000,TODO ESTADO,2318822,701157,634466,270813,217837,0.273616,0.093943

In [40]:
data_total_final.to_csv("output/data_vacinas_municipio.csv",index=False)

## Geração do Arquivo de Histórico da vacinação do Estado com Média Móvel

In [13]:
total_historico

NameError: name 'total_historico' is not defined

In [41]:
data_historico_estado[['data','aplicadas_dose1','aplicadas_dose2']].copy()

         data  aplicadas_dose1  aplicadas_dose2
0  2021-03-01            45836            24909
1  2021-03-02            48907            25744
2  2021-03-03            54155            26816
3  2021-03-04            61270            27275
4  2021-03-05            67793            28353
..        ...              ...              ...
93 2021-06-12           572311           210437
94 2021-06-13           584506           210694
95 2021-06-14           591572           210993
96 2021-06-15           622954           216942
97 2021-06-16           634466           217837

[98 rows x 3 columns]

In [42]:
# Calcula a média móvel e o total por dia
total_historico = data_historico_estado[['data','enviadas_dose1','enviadas_dose2','aplicadas_dose1','aplicadas_dose2']].copy()
total_historico['diario_dose1'] = total_historico['aplicadas_dose1'].diff()
total_historico['diario_dose2'] = total_historico['aplicadas_dose2'].diff()
total_historico['mediamovel_dose1'] = total_historico['diario_dose1'].rolling(window=7).mean()
total_historico['mediamovel_dose2'] = total_historico['diario_dose2'].rolling(window=7).mean()
total_historico['percent_uso_dose1'] = total_historico['aplicadas_dose1'] / total_historico['enviadas_dose1']
total_historico['percent_uso_dose2'] = total_historico['aplicadas_dose2'] / total_historico['enviadas_dose2']
total_historico = total_historico.fillna(0)
total_historico

,data,enviadas_dose1,enviadas_dose2,aplicadas_dose1,aplicadas_dose2,diario_dose1,diario_dose2,mediamovel_dose1,mediamovel_dose2,percent_uso_dose1,percent_uso_dose2
0,2021-03-01,54898,28258,45836,24909,0.0,0.0,0.000000,0.000000,0.834930,0.881485
1,2021-03-02,78109,35377,48907,25744,3071.0,835.0,0.000000,0.000000,0.626138,0.727704
2,2021-03-03,78109,35377,54155,26816,5248.0,1072.0,0.000000,0.000000,0.693326,0.758007
3,2021-03-04,78109,35377,61270,27275,7115.0,459.0,0.000000,0.000000,0.784417,0.770981
4,2021-03-05,92630,35377,67793,28353,6523.0,1078.0,0.000000,0.000000,0.731869,0.801453
...,...,...,...,...,...,...,...,...,...,...,...
93,2021-06-12,700813,270812,572311,210437,6974.0,837.0,11113.857143,1829.000000,0.816639,0.777059
94,2021-06-13,700813,270812,584506,210694,12195.0,257.0,12255.000000,1713.714286,0.834040,0.778008
95,2021-06-14,701013,270813,591572,210993,7066.0,299.0,11780.000000,1635.000000,0.843882,0.779110
96,2021-06-15,701157,270813,622954,216942,31382.0,5949.0,14217.142857,1459.000000,0.888466,0.801077
97,2021-06-16,701157,270813,634466,217837,11512.0,895.0,13642.142857,1400.857143,0.904884,0.804382

In [43]:
total_historico.to_csv("output/data_vacinas_historico.csv", index=False)

## Geração do Arquivo de Total por Grupos de Vacinação

In [44]:
grupos = {
    1: 'Trabalhadores da Saúde',
    2: 'Pessoas com 60 anos ou mais e deficientes Institucionalizados',
    3: 'Índio Aldeado',
    4: 'Pessoas com 80 anos e mais',
    5: 'Pessoas de 70 a 79 anos', 
    6: 'Pessoas de 60 a 69 anos',
    7: 'Situação de Rua',
    8: 'Quilombolas',
    9: 'Trabalhadores das forças de segurança',
    10: 'Pessoas com Síndrome de Dowm e Autismo',
    11: 'Outros (População vacinada com resíduos de vacinas ao final do dia)',
    12: 'Puerperas com comorbidade',
    13: 'Gestante com comorbidade',
    14: 'Deficiente Permanente',
    15: 'Comorbidades',
    16: 'Trabalhadores da Educação',
    17: 'Trabalhadores do sistema prisional',
    18: 'Privados de liberdade',
    19: 'Trabalhadores do Transporte aéreo',
    20: 'Trabalhadores da Limpeza Urbana',
    21: 'Trabalhadores do Transporte Coletivo',
    22: 'Caminhoneiros',
    23: 'População de 55 a 59 anos',
    24: 'Trabalhadores da Educação Superior',
    25: 'Trabalhadores da Zona Portuária',
    26: 'Trabalhadores Industriais e Civil',
    27: 'População de 50 a 54 anos',
    28: 'População de 45 a 49 anos',
    29: 'População de 40 a 44 anos'
}

In [45]:
data_total_municipio

,codigo_municipio,municipio,populacao_total,populacao_grupo4_80mais,populacao_grupo5_7079,populacao_grupo6_6069,enviadas_dose1,enviadas_dose2,aplicadas_dose1,aplicadas_dose2,...,aplicadas_dose2_grupo20_limpezaurbana,aplicadas_dose2_grupo21_transportecoletivo,aplicadas_dose2_grupo22_caminhoneiros,aplicadas_dose2_grupo23_5559,aplicadas_dose2_grupo24_educacaosuperior,aplicadas_dose2_grupo25_zonaportuaria,aplicadas_dose2_grupo26_industriaiscivil,aplicadas_dose2_grupo27_5054,aplicadas_dose2_grupo28_4549,aplicadas_dose2_grupo29_4044
0,280010,Amparo de São Francisco,2380,51,89,140,950,306,824,238,...,0,0,0,0,0,0,0,0,0,0
1,280020,Aquidabã,21681,481,932,1543,6808,2964,5868,2376,...,0,0,0,0,0,0,0,0,0,0
2,280030,Aracaju,664908,10149,24138,47854,233969,93970,197743,66303,...,0,0,0,0,0,0,0,0,0,0
3,280040,Arauá,9947,149,348,644,2715,1082,2471,1077,...,0,0,0,0,0,0,0,0,0,0
4,280050,Areia Branca,18686,281,548,1047,5400,1701,5223,1519,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,280720,Siriri,8970,154,316,533,2450,973,2294,915,...,0,0,0,0,0,0,0,0,0,0
71,280730,Telha,3249,49,100,178,882,369,900,367,...,0,0,0,0,0,0,0,0,0,0
72,280740,Tobias Barreto,52530,1046,2188,3513,16781,6538,15594,5952,...,0,0,0,0,0,0,0,0,0,0
73,280750,Tomar do Geru,13535,208,446,760,3309,1336,2603,1130,...,0,0,0,0,0,0,0,0,0,0
74,280760,Umbaúba,25550,308,725,1482,6806,2238,6813,2116,...,0,0,0,0,0,0,0,0,0,0

In [46]:
# Organizando as colunas como linhas da tabela
data_group = data_total_municipio.drop(columns=['populacao_total',
       'populacao_grupo4_80mais', 'populacao_grupo5_7079',
       'populacao_grupo6_6069', 'enviadas_dose1', 'enviadas_dose2',
       'aplicadas_dose1', 'aplicadas_dose2'])
data_group = pd.melt(data_group, id_vars=['codigo_municipio','municipio'], value_name='total')
data_group

,codigo_municipio,municipio,variable,total
0,280010,Amparo de São Francisco,aplicadas_dose1_grupo1_saude,65
1,280020,Aquidabã,aplicadas_dose1_grupo1_saude,457
2,280030,Aracaju,aplicadas_dose1_grupo1_saude,36236
3,280040,Arauá,aplicadas_dose1_grupo1_saude,166
4,280050,Areia Branca,aplicadas_dose1_grupo1_saude,274
...,...,...,...,...
4195,280720,Siriri,aplicadas_dose2_grupo29_4044,0
4196,280730,Telha,aplicadas_dose2_grupo29_4044,0
4197,280740,Tobias Barreto,aplicadas_dose2_grupo29_4044,0
4198,280750,Tomar do Geru,aplicadas_dose2_grupo29_4044,0
4199,280760,Umbaúba,aplicadas_dose2_grupo29_4044,0

In [47]:
## Funções Auxiliares para mapear informações em novas colunas

import re
def function_map(row, index, convert=False):
    split_value = row['variable'].split("_")[index]
    if convert:
        split_value = list(map(int, re.findall(r'\d+',  split_value)))[0]
    return split_value

def grupos_map(row): 
    return grupos[row['grupo']]

In [48]:
# Criando novas colunas
data_group['dose'] = data_group.apply(lambda row: function_map(row, 1, True), axis=1)
data_group['grupo'] = data_group.apply(lambda row: function_map(row, 2, True), axis=1)
data_group['nome_grupo'] = data_group.apply(lambda row: grupos_map(row), axis=1)

In [49]:
data_group = data_group.drop(columns=['variable'])
data_group

,codigo_municipio,municipio,total,dose,grupo,nome_grupo
0,280010,Amparo de São Francisco,65,1,1,Trabalhadores da Saúde
1,280020,Aquidabã,457,1,1,Trabalhadores da Saúde
2,280030,Aracaju,36236,1,1,Trabalhadores da Saúde
3,280040,Arauá,166,1,1,Trabalhadores da Saúde
4,280050,Areia Branca,274,1,1,Trabalhadores da Saúde
...,...,...,...,...,...,...
4195,280720,Siriri,0,2,29,População de 40 a 44 anos
4196,280730,Telha,0,2,29,População de 40 a 44 anos
4197,280740,Tobias Barreto,0,2,29,População de 40 a 44 anos
4198,280750,Tomar do Geru,0,2,29,População de 40 a 44 anos
4199,280760,Umbaúba,0,2,29,População de 40 a 44 anos

### Agrupando por Dose e Grupos

In [50]:
data_group_estado = data_group[['dose','grupo','nome_grupo','total']].groupby(by=['dose','grupo','nome_grupo']).sum()
data_group_estado.reset_index(inplace=True)
data_group_estado

    dose  grupo                                         nome_grupo   total
0      1      1                             Trabalhadores da Saúde   72130
1      1      2  Pessoas com 60 anos ou mais e deficientes Inst...     886
2      1      3                                      Índio Aldeado     260
3      1      4                         Pessoas com 80 anos e mais   40203
4      1      5                            Pessoas de 70 a 79 anos   81218
5      1      6                            Pessoas de 60 a 69 anos  141676
6      1      7                                    Situação de Rua     170
7      1      8                                        Quilombolas   11085
8      1      9              Trabalhadores das forças de segurança    8362
9      1     10             Pessoas com Síndrome de Dowm e Autismo    1346
10     1     12                          Puerperas com comorbidade     211
11     1     13                           Gestante com comorbidade     623
12     1     14                              Deficiente Permanente    7428
13     1     15                                       Comorbidades  111626
14     1     16                          Trabalhadores da Educação   33682
15     1     17                 Trabalhadores do sistema prisional     813
16     1     18                              Privados de liberdade    4859
17     1     19                  Trabalhadores do Transporte aéreo     445
18     1     20                    Trabalhadores da Limpeza Urbana    3913
19     1     21               Trabalhadores do Transporte Coletivo    3713
20     1     22                                      Caminhoneiros    6136
21     1     23                          População de 55 a 59 anos   30232
22     1     24                 Trabalhadores da Educação Superior    3061
23     1     25                    Trabalhadores da Zona Portuária     441
24     1     26                  Trabalhadores Industriais e Civil    9461
25     1     27                          População de 50 a 54 anos   51015
26     1     28                          População de 45 a 49 anos    9033
27     1     29                          População de 40 a 44 anos     438
28     2      1                             Trabalhadores da Saúde   49342
29     2      2  Pessoas com 60 anos ou mais e deficientes Inst...     800
30     2      3                                      Índio Aldeado     260
31     2      4                         Pessoas com 80 anos e mais   35951
32     2      5                            Pessoas de 70 a 79 anos   71059
33     2      6                            Pessoas de 60 a 69 anos   56760
34     2      7                                    Situação de Rua       0
35     2      8                                        Quilombolas     686
36     2      9              Trabalhadores das forças de segurança    1977
37     2     10             Pessoas com Síndrome de Dowm e Autismo     898
38     2     12                          Puerperas com comorbidade       1
39     2     13                           Gestante com comorbidade       5
40     2     14                              Deficiente Permanente       0
41     2     15                                       Comorbidades      98
42     2     16                          Trabalhadores da Educação       0
43     2     17                 Trabalhadores do sistema prisional       0
44     2     18                              Privados de liberdade       0
45     2     19                  Trabalhadores do Transporte aéreo       0
46     2     20                    Trabalhadores da Limpeza Urbana       0
47     2     21               Trabalhadores do Transporte Coletivo       0
48     2     22                                      Caminhoneiros       0
49     2     23                          População de 55 a 59 anos       0
50     2     24                 Trabalhadores da Educação Superior       0
51     2     25                    Trabalhadores da Zona Portuária       0
52     2     26                  Trabalhadores Industriais e Civil       0
53     2     27                          População de 50 a 54 anos       0
54     2     28                          População de 45 a 49 anos       0
55     2     29                          População de 40 a 44 anos       0

In [51]:
data_group_estado.to_csv("output/data_vacinas_grupos_estado.csv", index=False)

In [52]:
data_group_municipio = data_group.groupby(by=['codigo_municipio','municipio','dose','grupo','nome_grupo']).sum()
data_group_municipio.reset_index(inplace=True)
data_group_municipio

,codigo_municipio,municipio,dose,grupo,nome_grupo,total
0,280010,Amparo de São Francisco,1,1,Trabalhadores da Saúde,65
1,280010,Amparo de São Francisco,1,2,Pessoas com 60 anos ou mais e deficientes Inst...,0
2,280010,Amparo de São Francisco,1,3,Índio Aldeado,0
3,280010,Amparo de São Francisco,1,4,Pessoas com 80 anos e mais,42
4,280010,Amparo de São Francisco,1,5,Pessoas de 70 a 79 anos,97
...,...,...,...,...,...,...
4195,280760,Umbaúba,2,25,Trabalhadores da Zona Portuária,0
4196,280760,Umbaúba,2,26,Trabalhadores Industriais e Civil,0
4197,280760,Umbaúba,2,27,População de 50 a 54 anos,0
4198,280760,Umbaúba,2,28,População de 45 a 49 anos,0
4199,280760,Umbaúba,2,29,População de 40 a 44 anos,0

In [53]:
data_group_municipio.to_csv("output/data_vacinas_grupos_municipios.csv", index=False)