In [1]:
import pandas as pd
import numpy as np

In [4]:
caso_full = pd.read_csv('data_general/caso_full.csv')

In [6]:
caso_full.columns

Index(['city', 'city_ibge_code', 'date', 'epidemiological_week',
       'estimated_population', 'estimated_population_2019', 'is_last',
       'is_repeated', 'last_available_confirmed',
       'last_available_confirmed_per_100k_inhabitants', 'last_available_date',
       'last_available_death_rate', 'last_available_deaths', 'order_for_place',
       'place_type', 'state', 'new_confirmed', 'new_deaths'],
      dtype='object')

In [46]:
caso_full_sergipe = caso_full.query('state == "SE" and city.isnull()', engine='python')
caso_full_sergipe

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
1996488,NaN,28.0,2020-03-14,202011,2318822.0,2298696.0,False,False,1,0.04313,2020-03-14,0.0000,0,1,state,SE,1,0
1996490,NaN,28.0,2020-03-15,202012,2318822.0,2298696.0,False,True,1,0.04313,2020-03-14,0.0000,0,2,state,SE,0,0
1996492,NaN,28.0,2020-03-16,202012,2318822.0,2298696.0,False,False,5,0.21563,2020-03-16,0.0000,0,3,state,SE,4,0
1996494,NaN,28.0,2020-03-17,202012,2318822.0,2298696.0,False,True,5,0.21563,2020-03-16,0.0000,0,4,state,SE,0,0
1996497,NaN,28.0,2020-03-18,202012,2318822.0,2298696.0,False,False,6,0.25875,2020-03-18,0.0000,0,5,state,SE,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2028965,NaN,28.0,2021-07-01,202126,2318822.0,2298696.0,False,False,264213,11394.27692,2021-07-01,0.0216,5714,475,state,SE,701,16
2029041,NaN,28.0,2021-07-02,202126,2318822.0,2298696.0,False,False,264798,11419.50525,2021-07-02,0.0216,5732,476,state,SE,585,18
2029117,NaN,28.0,2021-07-03,202126,2318822.0,2298696.0,False,False,265278,11440.20541,2021-07-03,0.0216,5743,477,state,SE,480,11
2029193,NaN,28.0,2021-07-04,202127,2318822.0,2298696.0,False,False,265925,11468.10751,2021-07-04,0.0216,5756,478,state,SE,647,13
2029269,NaN,28.0,2021-07-05,202127,2318822.0,2298696.0,True,False,266273,11483.11513,2021-07-05,0.0217,5765,479,state,SE,348,9

In [47]:
caso_full_selected = caso_full_sergipe[['date','last_available_confirmed','last_available_deaths','new_confirmed','new_deaths']]
caso_full_selected

,date,last_available_confirmed,last_available_deaths,new_confirmed,new_deaths
1996488,2020-03-14,1,0,1,0
1996490,2020-03-15,1,0,0,0
1996492,2020-03-16,5,0,4,0
1996494,2020-03-17,5,0,0,0
1996497,2020-03-18,6,0,1,0
...,...,...,...,...,...
2028965,2021-07-01,264213,5714,701,16
2029041,2021-07-02,264798,5732,585,18
2029117,2021-07-03,265278,5743,480,11
2029193,2021-07-04,265925,5756,647,13
2029269,2021-07-05,266273,5765,348,9

In [48]:
caso_full_selected['mean_confirmed'] = caso_full_selected['new_confirmed'].rolling(window=7).mean()
caso_full_selected['mean_deaths'] = caso_full_selected['new_deaths'].rolling(window=7).mean()

<ipython-input-48-de32b8ad372d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  caso_full_selected['mean_confirmed'] = caso_full_selected['new_confirmed'].rolling(window=7).mean()
<ipython-input-48-de32b8ad372d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  caso_full_selected['mean_deaths'] = caso_full_selected['new_deaths'].rolling(window=7).mean()

In [49]:
caso_full_selected = caso_full_selected.fillna(0)
caso_full_selected

,date,last_available_confirmed,last_available_deaths,new_confirmed,new_deaths,mean_confirmed,mean_deaths
1996488,2020-03-14,1,0,1,0,0.000000,0.000000
1996490,2020-03-15,1,0,0,0,0.000000,0.000000
1996492,2020-03-16,5,0,4,0,0.000000,0.000000
1996494,2020-03-17,5,0,0,0,0.000000,0.000000
1996497,2020-03-18,6,0,1,0,0.000000,0.000000
...,...,...,...,...,...,...,...
2028965,2021-07-01,264213,5714,701,16,560.000000,13.857143
2029041,2021-07-02,264798,5732,585,18,490.571429,14.000000
2029117,2021-07-03,265278,5743,480,11,472.285714,13.857143
2029193,2021-07-04,265925,5756,647,13,496.857143,14.857143
2029269,2021-07-05,266273,5765,348,9,501.285714,14.428571

In [50]:
caso_full_selected['pct_change_confirmed'] = caso_full_selected['mean_confirmed'].pct_change(14)
caso_full_selected['pct_change_deaths'] = caso_full_selected['mean_deaths'].pct_change(14)
caso_full_selected = caso_full_selected.fillna(0)
caso_full_selected

,date,last_available_confirmed,last_available_deaths,new_confirmed,new_deaths,mean_confirmed,mean_deaths,pct_change_confirmed,pct_change_deaths
1996488,2020-03-14,1,0,1,0,0.000000,0.000000,0.000000,0.000000
1996490,2020-03-15,1,0,0,0,0.000000,0.000000,0.000000,0.000000
1996492,2020-03-16,5,0,4,0,0.000000,0.000000,0.000000,0.000000
1996494,2020-03-17,5,0,0,0,0.000000,0.000000,0.000000,0.000000
1996497,2020-03-18,6,0,1,0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
2028965,2021-07-01,264213,5714,701,16,560.000000,13.857143,-0.384229,-0.389937
2029041,2021-07-02,264798,5732,585,18,490.571429,14.000000,-0.487998,-0.383648
2029117,2021-07-03,265278,5743,480,11,472.285714,13.857143,-0.482872,-0.401235
2029193,2021-07-04,265925,5756,647,13,496.857143,14.857143,-0.374010,-0.377246
2029269,2021-07-05,266273,5765,348,9,501.285714,14.428571,-0.381347,-0.356688

In [51]:
caso_full_selected.reset_index(inplace=True,drop=True)
caso_full_selected

,date,last_available_confirmed,last_available_deaths,new_confirmed,new_deaths,mean_confirmed,mean_deaths,pct_change_confirmed,pct_change_deaths
0,2020-03-14,1,0,1,0,0.000000,0.000000,0.000000,0.000000
1,2020-03-15,1,0,0,0,0.000000,0.000000,0.000000,0.000000
2,2020-03-16,5,0,4,0,0.000000,0.000000,0.000000,0.000000
3,2020-03-17,5,0,0,0,0.000000,0.000000,0.000000,0.000000
4,2020-03-18,6,0,1,0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
474,2021-07-01,264213,5714,701,16,560.000000,13.857143,-0.384229,-0.389937
475,2021-07-02,264798,5732,585,18,490.571429,14.000000,-0.487998,-0.383648
476,2021-07-03,265278,5743,480,11,472.285714,13.857143,-0.482872,-0.401235
477,2021-07-04,265925,5756,647,13,496.857143,14.857143,-0.374010,-0.377246
478,2021-07-05,266273,5765,348,9,501.285714,14.428571,-0.381347,-0.356688

In [52]:
caso_full_selected.to_csv("output/sergipe_historico.csv", index=False)